@import '../../../../scss/variables';

.toast-success {
  display: flex;
  background-color: map-get($bg-color, 'primary');
  color: white;
  font-size: 15px;
  padding: 16px 16px;
  justify-content: center;
  align-items: center;
  text-align: center;
  opacity: 0.8;
}