<div class="row middle-xs show-content main">
    <!-- General form -->
        <div class="col-xs-12" *ngIf="userUploaded === true">
            <div class="col-xs-12 elem row">
               <!-- First -->
                <div class="col-xs-3 row-text margin-text start-xs">
                    Full name
                </div>
                <div class="col-xs-9 no-padd row" *ngIf="editableFirstName == true">
                    <div class="col-xs-10 no-padd">
                        <app-input-text
                        name="firstName"
                        [value]="user.profile.name"
                        [(ngModel)]="firstNameOfUser"
                        #firstName="ngModel"
                        [placeholder]="'First name'"
                        >
                      </app-input-text> 
                      <span class="error" *ngIf="firstNameErr === true">{{ errorFirstNameText}}</span>
                    </div>
                    <div class="col-xs-2 no-padd btn-save center-xs middle-xs">
                        <span (click)="saveNewName('firstName', firstNameOfUser)">
                              <i class="material-icons edit-icon">
                                              save
                              </i>
                        </span>
                        <span (click)="cancelName()">
                            <i class="material-icons edit-icon">
                                cancel_presentation
                            </i>
                      </span>
                    </div>
                </div>
                
                <div class="col-xs-9 name-field no-padd row" *ngIf="editableFirstName == false">
                    <div class="col-xs-10 inner-text">
                        {{user.profile.name}}
                    </div>
                    <div class="col-xs-2 no-padd btn-edit center-xs middle-xs">
                        <span (click)="changeFirstName()">
                            <img class="edit-pencil"  src="assets/images/svg-icons/edit_btn.svg">
                        </span>
                    </div>
                </div>

                 <!-- Last name -->
                <div class="col-xs-3 row-text margin-text">
                     
                  </div>

                  <div class="col-xs-9 no-padd row" *ngIf="editableLastName == true">
                      <div class="col-xs-10 no-padd">
                          <app-input-text
                          [value]="user.profile.lastName"
                          name="lastName"
                          [(ngModel)]="lastNameOfUser"
                          #lastName="ngModel"
                          [placeholder]="'Last name'"
                          >
                        </app-input-text> 
                        <span class="error" *ngIf="lastNameErr === true">{{ errorLastNameText}}</span>
                      </div>
                      <div class="col-xs-2 no-padd btn-save center-xs middle-xs">
                          <span (click)="saveNewData('lastName', lastNameOfUser)">
                              <i class="material-icons edit-icon">
                                              save
                              </i>
                        </span>
                          <span (click)="cancelLastName()">
                              <i class="material-icons edit-icon">
                                  cancel_presentation
                              </i>
                        </span>
                      </div>
                  </div>

                  <div class="col-xs-9 name-field no-padd row"  *ngIf="editableLastName == false">
                      <div class="col-xs-10 inner-text">
                          {{user.profile.lastName}}
                      </div>
                      <div class="col-xs-2 no-padd btn-edit center-xs middle-xs">
                          <span (click)="changeLastName()">
                            <img class="edit-pencil"  src="assets/images/svg-icons/edit_btn.svg">
                          </span>
                      </div>
                  </div>
              </div>
              <!-- Birthday -->
              <div class="col-xs-12 elem row">
                   <div class="col-xs-3 row-text margin-text start-xs">
                      Birthday
                   </div>

                   <div class="col-xs-9 no-padd row" *ngIf="editableBirthDay == true">
                      <div class="col-xs-10 no-padd">
                          <app-input-datepicker
                              [floatLabel]="'auto'"
                              [disabled]="false"
                              [format]="'dd MM yyyy'"
                              [max]="2012"
                              [(ngModel)]="birthdayDate"
                              [required]="true"
                              [errorText]="'Date of birth is required'"
                              name="birthday"
                              (dateChange)="checkDatePicker('change', $event, birthdayDate)"
                              [errorTextDate]="errorTextDate">
                          </app-input-datepicker>
                      </div>
                      <div class="col-xs-2 no-padd btn-save center-xs middle-xs">
                          <span *ngIf="showEqualError == false" (click)="saveNewName('lastName', lastNameOfUser)">
                                <i class="material-icons edit-icon">
                                                save
                                </i>
                          </span>
                          <span (click)="cancelBD()">
                              <i class="material-icons edit-icon">
                                  cancel_presentation
                              </i>
                        </span>
                      </div>
                  </div>

                   <div class="col-xs-9 name-field no-padd row" *ngIf="editableBirthDay == false">
                       <div class="col-xs-10 inner-text">
                           {{user.profile.birthDate | date}}
                       </div>
                       <div class="col-xs-2 no-padd btn-edit center-xs middle-xs">
                           <span (click)="changeBirthday()">
                                <img class="edit-pencil"  src="assets/images/svg-icons/edit_btn.svg"> 
                           </span>
                       </div>
                   </div>
  
                 </div>
                 <!-- Sex -->
                 <div class="col-xs-12 elem row">

                     <div class="col-xs-3 row-text margin-text-2 start-xs">
                        Sex
                     </div>
                     <div class="col-xs-9 no-padd row">
                        <div class="col-xs-4 no-padd middle-xs">
                            <label class="container-ch  align-left">Male
                                <input type="checkbox"
                                name="male"
                                #male="ngModel"
                                [(ngModel)]="maleSelect"
                                (change)="maleSelected($event)"
                                >
                                <span class="checkmark"></span>
                                </label>
                        </div>
                        <div class="col-xs-4 no-padd middle-xs">
                              <label class="container-ch  align-left">Female
                                  <input type="checkbox"
                                  name="female"
                                  #female="ngModel"
                                  [(ngModel)]="femaleSelect"
                                  (change)="femaleSelected($event)"
                                  >
                                  <span class="checkmark"></span>
                                  </label>
                        </div>
                    </div>
                   </div>
                   <!-- Languages -->
  
                   <div class="col-xs-12 elem row">
                      <!-- First -->
                       <div class="col-xs-3 row-text margin-text start-xs">
                          Native language
                       </div>

                       <!-- Search lang native -->
                       <div class="col-xs-9 no-padd row">
                          <div class="col-xs-12 no-padd lang-margin search-section">
                              <app-input-search
                                    class="no-margin search"
                                    [maxLength]="20"
                                    [control]="searchLangsControl"
                                    name="langNative"
                                    [(ngModel)]="langName"
                                    #langNative="ngModel"
                                    [required]="nativeLangRequired"
                                    [placeholder]="'Start to type...'"
                                    [requiredFieldError]="'You did not set new value'">
                            </app-input-search>
                            <!-- Dropdown -->
                            <section *ngIf="openAutoNative === true" 
                            [ngClass]="{'block-drop': openAutoNative == true,  'non-vis': openAutoNative == false}">
                            <div *ngFor="let option of optionsLangs">
                                    <div (click)="setValueNativeFromDropDown(option)">
                                    <i class="material-icons plus-icon">
                                    add_circle_outline
                                    </i>
                                    <span>{{option.native}} </span> 
                                    <span class="lang-native">({{option.name}})</span></div>
                                    </div>
                            </section>
                          </div>
                      </div>


                      <div class="col-xs-3 row-text margin-text start-xs">
                             
                    </div>
                   <div class="col-xs-9 no-padd row"  *ngIf="user.profile.langs.native.length !== 0">
                       <div class="col-xs-12 no-padd start-xs row">
                           <span class="choosed-otherLangs-field"
                           *ngFor="let lang of user.profile.langs.native">
                               <span>{{lang.name}} </span>
                               <button (click)="changeNativeLangItem(lang)"
                              class="btn-remove">
                                      <i class="material-icons remove-icon">
                                                      clear
                                      </i>
                              </button>
                           </span>
                       </div>
                   </div>



                     </div>
  
                     <div class="col-xs-12 elem row">
                        <!-- Other langs -->
                         <div class="col-xs-3 row-text margin-text start-xs">
                            Languages
                         </div>
                         
                        <!-- Search other langs -->
                        <div class="col-xs-9 no-padd row">
                            <div class="col-xs-12 no-padd lang-margin search-section"
                            [ngClass]="{'make-higther': openAutoOtherLang == true}">
                                <app-input-search
                                      class="no-margin search"
                                      [maxLength]="20"
                                      [control]="searchOtherLangsControl"
                                      name="langOther"
                                      [(ngModel)]="langsOther"
                                      #langOther="ngModel"
                                      [required]="false"
                                      [placeholder]="'Start to type...'">
                              </app-input-search>
                              <!-- Dropdown -->
                              <section *ngIf="openAutoOtherLang === true" 
                              [ngClass]="{'block-drop': openAutoOtherLang == true,  'non-vis': openAutoOtherLang == false}">
                              <div *ngFor="let option of optionsLangs">
                                      <div (click)="setValueOtherFromDropDown(option)">
                                      <i class="material-icons plus-icon">
                                      add_circle_outline
                                      </i>
                                      <span>{{option.native}} </span> 
                                      <span class="lang-native">({{option.name}})</span></div>
                                      </div>
                              </section>
  
                            </div>
                        </div>
                        <div class="col-xs-3 row-text margin-text start-xs">
                             
                         </div>
                        <div class="col-xs-9 no-padd row"  *ngIf="user.profile.langs.other.length !== 0">
                            <div class="col-xs-12 no-padd start-xs row">
                                <span class="choosed-otherLangs-field"
                                *ngFor="let lang of user.profile.langs.other">
                                    <span>{{lang.name}} </span>
                                    <button (click)="changeOtherLangItem(lang)"
                                   class="btn-remove">
                                           <i class="material-icons remove-icon">
                                                           clear
                                           </i>
                                   </button>
                                </span>
                            </div>
                        </div>
                       </div>
        </div>
  </div>        
  
  
  