@import '../../../../scss/variables';
.tab {
    display: flex;
  }
  .tabs-nav {
    display: flex;
    width: 100%;
    div{
      flex-direction: row;
      width: 100%;
      margin: 0px;
  
    }
  }

  .tab-expert-class {
    display: flex;
    align-items: center;
    align-content: center;
    min-height: 30px;
    border-bottom: 1px solid map-get($bg-color, 'dark');
    &:hover {
      cursor: pointer;
    }
    span {
        width: 100%;
        list-style: none;
        text-align: center;
        margin: 0;
        font-size: 13px;
        font-weight: 600;
        &:hover {
          cursor: pointer;
        }
    }
  }
  
  .active {
    color: map-get($font-color, 'primary');
    background-color: map-get($bg-color, 'light-olive');
    &:hover {
      background-color: map-get($font-color, 'dark-gray');
      color: map-get($font-color, 'light-olive');
    }
  }
  
  .not-active-tab {
    color: map-get($font-color, 'primary');
    &:hover {
      background-color: map-get($font-color, 'gray');
      color: map-get($font-color, 'light-olive');
    }
  }

  .show-content {
      padding: 40px;
      margin-top: 20px;
  }

  .main {
      padding-top: 120px;
      width: 100%;
  }

  .search-btn {
    position: relative;
    right: -50%;
    min-height: 47px;
    width: 60px;
    padding-top: 10px;
    padding-left: 10px;
    top: -52px;
    border: 1px solid map-get($bg-color, 'gray-light');
    border-top-right-radius: 8px;
    border-bottom-right-radius: 8px;
    background-color: map-get($bg-color, 'gray-lighter');
    &:hover {
        cursor: pointer;
        background-color: map-get($bg-color, 'gray-light');
    }
}

.block-droop {
  position: relative;
  text-align: left;
  top: -6px;
  width: 93%;
  padding: 20px;
  background-color: map-get($bg-color, 'gray-lighter');
  border: 1px solid map-get($bg-color, 'gray-light');
  // border-left: 1px solid map-get($bg-color, 'gray-light');
  // border-right: 1px solid map-get($bg-color, 'gray-light');
  border-radius: 8px;
  div {
      padding: 5px;
      color: map-get($font-color, 'primary');;
      &:hover {
          background-color: white;
          cursor: pointer;
          border-radius: 8px;
      }
  }
}

.non-vis {
  display: none;
}

.category-name {
  font-size: 10px;
  color: map-get($bg-color, 'gray');
}

.plus-icon {
  font-size: 16px;
  color:map-get($bg-color, 'primary');
  margin-right: 20px;
}