<div class="row">
    <div class="col-xs-12
                col-sm-6
                col-md-6
                col-lg-4
                row">
        <div class="col-xs-12
                    header-block
                    row"
                    [ngClass]="{'enable': enableSkill === true,  'disable': enableSkill === false}">
          <div class="col-xs-10
                      title-header-block
                      start-xs"
                      >
              Back End Web Development
          </div> 
          <div class="col-xs-2 end-xs">
              <button (click)="goToSubUrl('/profile/about-me')"
              class="edit-round-btn">
          <i class="material-icons edit-icon">
              edit
          </i>
      </button>
          </div>
        </div>
        <div class="col-xs-12 description-block start-xs">Data science is a multi-disciplinary field that uses scientific methods, processes, algorithms and systems to extract knowledge and
            insights from structured and unstructured data.</div>
        <div class="col-xs-12 table-block">
            <table class="table">
                <tr>
                  <td>In exchange:</td>
                  <td><table class="included-table">
                      <tr>
                        <td>Skill</td>
                        <td>Graphic Design</td>
                      </tr>
                      <tr>
                        <td>Group</td>
                        <td>150$ per hour</td>
                        </tr>
                    </table></td>
                </tr>
                <tr>
                  <td>Schedule</td>
                  <td>Courses</td>
                </tr>
                <tr>
                  <td>Time</td>
                  <td>5 years for Microsoft</td>
                </tr>
                <tr>
                  <td>Trial lesson</td>
                  <td>Yes, I would like</td>
                </tr>
              </table>
        </div>
    </div>
  
  
    <!-- Double -->
    <div class="col-xs-12
                col-sm-6
                col-md-6
                col-lg-4
                row">
        <div class="col-xs-12
                    header-block
                    disable
                    row">
          <div class="col-xs-10
                      title-header-block
                      start-xs">
              Back End Web Development
          </div> 
          <div class="col-xs-2 end-xs">
              <button (click)="goToSubUrl('/profile/about-me')"
              class="edit-round-btn">
          <i class="material-icons edit-icon">
              edit
          </i>
      </button>
          </div>
        </div>
        <div class="col-xs-12 description-block start-xs">Data science is a multi-disciplinary field that uses scientific methods, processes, algorithms and systems to extract knowledge and
            insights from structured and unstructured data.</div>
        <div class="col-xs-12 table-block">
            <table class="table">
                <tr>
                  <td>In exchange:</td>
                  <td><table class="included-table">
                      <tr>
                        <td>Skill</td>
                        <td>Graphic Design</td>
                      </tr>
                      <tr>
                        <td>Group</td>
                        <td>150$ per hour</td>
                        </tr>
                    </table></td>
                </tr>
                <tr>
                  <td>Schedule</td>
                  <td>Courses</td>
                </tr>
                <tr>
                  <td>Time</td>
                  <td>5 years for Microsoft</td>
                </tr>
                <tr>
                  <td>Trial lesson</td>
                  <td>Yes, I would like</td>
                </tr>
              </table>
        </div>
    </div>
  
    
  <!-- End of includer -->
  </div>
  