@import '../../../../scss/variables';
::ng-deep .mat-input-wrapper{
  width:100% !important;
}

mat-form-field {
  margin-right: 12px;
  width: 100%;
  background-color: white;
  padding-left: 12px;
  padding-right: 20px;
  div .mat-form-field-wrapper{
      padding: 0px;
      border: 0px;
  }

}
.mat-form-field-infix {
  border: 0px;
}


.input-wrap {
  position: relative;
}
.input-message {
  background-color: white;
  overflow: hidden;
  width: 97%;
  border: grey solid 1px;
  border-radius: 8px;
  outline: none;
  z-index: 1;
  position: relative;
  padding: 10px;
  box-sizing: border-box;
}

.mat-form-field-appearance-legacy ::ng-deep  {
  .mat-form-field-underline {
      display: none !important;
  }

  .mat-form-field-suffix {
      bottom: 11px;
      right: 30px;
  }
  .mat-form-field-label {
      margin-top: 9px;
      margin-left: 10px;
  }
  .mat-form-field-wrapper {
      padding-bottom:  0.3em !important;
  }
  .mat-form-field {
      width: 95% !important;
  }
}
mat-form-field {
  width: 95% !important;
}

@media only screen and (max-width: 700px) {
  mat-form-field {
    width: 85% !important;
  }
}

.mat-form-field {
  font-family: $font-primary;
}