<div class="row middle-xs show-content main">
                <div class="col-xs-10
                col-sm-10
                col-md-8
                col-lg-8
                row
                ">
        <div class="col-xs-3" *ngIf="activeUrl === 'skills-to-obtain'">
                <app-left-bar
                [currChildUrl]="'skills-to-obtaine'"></app-left-bar>
        </div>
        <div class="col-xs-9">
                <form name="skillsDataForm"
                #skillsDataForm="ngForm"
                class="col-xs-12
                no-padd
                form-group"
                >
                <div class="col-xs-12">
                        Add the skills you would like to share and indicate the current level of ownership
                </div>

        <div class="col-xs-12 elem">
        <section *ngIf="!showChoosedSkill">
                <app-input-search
                        [maxLength]="100"
                        [control]="searchControl"
                        name="goalName"
                        [(ngModel)]="goalName"
                        #lastName="ngModel"
                        [required]="true"
                        [placeholder]="skillPlaceholder"
                        [requiredFieldError]="'You can not to continue without any goal'"
                >
                </app-input-search>
                <span *ngIf="showBtn"
                [ngClass]="{'non-vis': showBtn == false}">Add new skill?   </span>
                <input
                type="submit"
                (click)="setValue(goalName)"
                [ngClass]="{'btn primary-btn btn-height-small btn-width-small': showBtn == true,  'non-vis': showBtn == false}"  
                value="Add"
                >
                </section>

                        <section *ngIf="openAuto === true" 
                        [ngClass]="{'block-droop': openAuto == true,  'non-vis': openAuto == false}">
                        <div *ngFor="let option of options">
                                <div (click)="setValueFromDropDown(option)">
                                <i class="material-icons plus-icon">
                                add_circle_outline
                                </i>
                                <span>{{option.name}} </span></div>
                                </div>
                        </section>    
        <section *ngIf="showChoosedSkill" class="choosed-skill-field">
                <div>
                        {{choosedSkillname}}
                        <button (click)="changeSkill()"
                        class="btn-remome"
                        >
                                <i class="material-icons remove-icon">
                                                clear
                                </i>
                        </button>
                </div>
        </section>
        <section  *ngIf="newSkill">
                        <app-input-textarea
                        name="skillDescr"
                        #skillDescr="ngModel"
                        [(ngModel)]="description"
                        [placeholder]="'Write here a little description about skill witch you want to add'"
                        [maxLength]="250"
                        [required]="newSkill"
                        [requiredFieldError]="'You can not to save new skill without any description'">
                        </app-input-textarea>
                </section>
        </div>
        <div class="col-xs-12 elem row">
                <div class="col-xs-3 row-text">Current level: </div>
                <div class="col-xs-9 no-padd">
                        <app-select
                        name="goalCurrLevel"
                        #goalCurrLevel="ngModel"
                        [(ngModel)]="currentLevel"
                        [options]="levelSkill"
                        [required]="true"
                        [requiredFieldError]="'You can not to continue without any level'"></app-select>
                </div>
                
        </div>

        <div class="col-xs-12 elem row">
                <div class="col-xs-3 row-text">Expected level: </div>
                <div class="col-xs-9 no-padd">
                        <app-select
                        name="goalExpLevel"
                        #goalExpLevel="ngModel"
                        [(ngModel)]="expectedLevel"
                        [options]="levelSkill"
                        [required]="true"
                        [requiredFieldError]="'You can not to continue without any level'"></app-select>
                </div>
                
        </div>

        <div class="col-xs-12 elem row">
                <div class="col-xs-3 row-text">What are you ready to give in exchange? </div>
                <div class="col-xs-9 no-padd">
                        <label class="container-ch">Money
                                <input type="checkbox"
                                name="money"
                                #money="ngModel"
                                [(ngModel)]="moneyOffered"
                                (change)="agreeMoney($event)">
                                <span class="checkmark"></span>
                                </label>
                        <label class="container-ch">Service
                                <input type="checkbox"
                                name="service"
                                #service="ngModel"
                                [(ngModel)]="servicesOffered"
                                (change)="agreeService($event)">
                                <span class="checkmark"></span>
                                </label>
                        <label class="container-ch">Skills
                                <input type="checkbox"
                                name="skillsOffere"
                                #skillsOffere="ngModel"
                                [(ngModel)]="skillsOffered"
                                (change)="agreeSkills($event)">
                                <span class="checkmark"></span>
                                </label>
                </div>
                
        </div>
        <div class="col-xs-12 elem row">
                <div class="col-xs-3 row-text">Disable (hide from other users)?</div>
                <label class="container-ch">
                        <input type="checkbox"
                        name="disable"
                        #disable="ngModel"
                        [(ngModel)]="hidden">
                        <span class="checkmark"></span>
                        </label>
        </div>

        <div class="col-xs-12 elem row">
                <div class="col-xs-3 row-text">Select days: </div>
                <div class="col-xs-9 no-padd">
                        <app-week-days></app-week-days>
                </div>
        </div>

        <div class="col-xs-12 row elem">
                <div class="col-xs-3 row-text">Edit time</div>
                <div class="col-xs-9 row no-padd">
                        <div class="col-xs-6 row middle-xs no-padd">
                                <div class="col-xs-3">
                                        <span class="row-text">From: </span>
                                </div>
                                
                                        <div class="col-xs-9">
                                                <app-select
                                                [options]="time"
                                                [label]="'Set time'"></app-select>
                                        </div>
                        </div>
                        <div class="col-xs-6 no-padd row middle-xs">
                                <div class="col-xs-3">
                                        <span class="row-text">To: </span>
                                </div>
                                
                                <div class="col-xs-9">
                                        <app-select
                                        [options]="time"
                                        [label]="'Set time'"></app-select>
                                </div>
                        </div>
                        <div class="col-xs-6 no-padd">
                                <label class="container-ch">Trial lesson
                                        <input type="checkbox"
                                        name="trial"
                                        #trial="ngModel"
                                        [(ngModel)]="withTrial"
                                        checked="checked">
                                        <span class="checkmark"></span>
                                        </label>
                        </div>
                </div>
        </div>
        <div class="col-xs-12 row elem">
        <div>
        <input
        type="submit"
        (click)="saveBtn(currentLevel, expectedLevel, withTrial, hidden, goalName, description)" 
        class="btn
        primary-btn
        btn-width-middle"    
        value="Add"
        [disabled]="skillsDataForm.invalid"
        [ngClass]="{'disabled': skillsDataForm.invalid}">
        </div>
        </div>
        </form> 
        </div>
        <div class="col-xs-12 elem row">
                <div class="col-xs-2 row-text">My goals: </div>
                <div class="col-xs-10 no-padd">
                <div *ngFor="let goal of myGoals">
                        {{goal.name}}
                </div>
                        
                </div>
                
        </div>
        </div>  
</div>