<div class="row middle-xs show-content main">
                <div class="col-xs-12
                col-sm-12
                col-md-10
                col-lg-10
                row
                ">
        <div class="col-xs-3" *ngIf="activeUrl === 'skills-to-obtain'">
                <app-left-bar
                [currChildUrl]="'skills-to-obtain'"></app-left-bar>
        </div>
        <div class="col-xs-9">
                <form name="skillsDataForm"
                #skillsDataForm="ngForm"
                class="col-xs-12
                no-padd
                form-group"
                >
                <div class="col-xs-12">
                        Add a skill you would like to obtain and indicate your current level of proficiency
                </div>

        <div class="col-xs-12 elem row" appClickOutside (mClickOutside)="outsideSearchClick()">
                <div class="col-xs-3 row-text margin-text">
                Add skill <span class="required-star">*</span>
                </div>  
        <section *ngIf="showChoosedSkill" class="choosed-skill-field col-xs-9">
                <div>
                        {{choosedSkillname}}
                        <button (click)="changeSkill()"
                        class="btn-remove"
                        >
                                <i class="material-icons remove-icon">
                                                clear
                                </i>
                        </button>
                </div>


                
        </section><!-- Search skill -->
        <section *ngIf="!showChoosedSkill" class="col-xs-9 no-padd search-section">
                <app-input-search
                        [maxLength]="100"
                        [control]="searchControl"
                        name="goalName"
                        [(ngModel)]="goalName"
                        #lastName="ngModel"
                        [required]="true"
                        [placeholder]="skillPlaceholder"
                        [requiredFieldError]="'You can not to continue without any goal'"
                >
                </app-input-search>
                <section *ngIf="openAuto === true"
                        [ngClass]="{'block-drop': openAuto == true,  'non-vis': openAuto == false}">
                        <div *ngFor="let option of options">
                                <div (click)="setValueFromDropDown(option)">
                                <i class="material-icons plus-icon">
                                add_circle_outline
                                </i>
                                <span>{{option.name}} </span></div>
                                </div>
                        </section>
                <span *ngIf="showBtn"
                [ngClass]="{'non-vis': showBtn == false}">Add new skill?   </span>
                <input
                type="submit"
                (click)="setValue(goalName)"
                [ngClass]="{'btn primary-btn btn-height-small btn-width-small': showBtn == true,  'non-vis': showBtn == false}"  
                value="Add"
                >
                </section>  
        <section  *ngIf="newSkill" class="col-xs-12 row no-padd end-xs">
                <div class="col-xs-9 no-padd start-xs">
                                <app-input-textarea
                                name="skillDescr"
                                #skillDescr="ngModel"
                                [(ngModel)]="description"
                                [placeholder]="'Write here a little description about skill witch you want to add'"
                                [maxLength]="250"
                                [required]="newSkill"
                                [requiredFieldError]="'You can not to save new skill without any description'">
                                </app-input-textarea>
                </div>
                </section>
        </div>
        <div class="col-xs-12 elem row">
                <div class="col-xs-3 row-text margin-text">Current level: </div>
                <div class="col-xs-9 no-padd">
                        <app-select
                        name="goalCurrLevel"
                        #goalCurrLevel="ngModel"
                        [(ngModel)]="currentLevel"
                        [options]="levelSkill"
                        [required]="true"
                        [requiredFieldError]="'You can not to continue without any level'"></app-select>
                </div>
                
        </div>

        <div class="col-xs-12 elem row">
                <div class="col-xs-3 row-text margin-text">Expected level: </div>
                <div class="col-xs-9 no-padd">
                        <app-select
                        name="goalExpLevel"
                        #goalExpLevel="ngModel"
                        [(ngModel)]="expectedLevel"
                        [options]="levelSkill"
                        [required]="true"
                        [requiredFieldError]="'You can not to continue without any level'"></app-select>
                </div>
                
        </div>
<!-- Expected result -->
        <div class="col-xs-12 elem row">
                <div class="col-xs-3 row-text margin-text">Expected result: </div>
                <div class="col-xs-9 no-padd">
                <app-input-textarea
                name="expRes"
                #expRes="ngModel"
                [(ngModel)]="expectedRes"
                [maxLength]="250"
                [required]="false">
                </app-input-textarea>
                </div>
                
        </div>

        <div class="col-xs-12 elem row">
                <div class="col-xs-3 row-text">What are you ready to give in exchange? </div>
                <div class="col-xs-9 no-padd">
                        <label class="container-ch align-left">Money
                                <input type="checkbox"
                                name="money"
                                #money="ngModel"
                                [(ngModel)]="moneyOffered"
                                (change)="agreeMoneyHandler($event)">
                                <span class="checkmark"></span>
                                </label>
        
                <!-- Share services for payment -->
<div class="row col-xs-12 no-padd">
        <div class="col-xs-4 no-padd">
                <label class="container-ch  align-left">Services <span *ngIf="servicesExpList.length !== 0">remove all</span>
                                <input type="checkbox"
                                name="service"
                                #service="ngModel"
                                [(ngModel)]="servicesOffered"
                                (change)="agreeServiceHandler($event)"
                                [disabled]="!!noServicesForSelect">
                                <span class="checkmark"
                                [ngClass]="{'disabled-select': noServicesForSelect == true,  'enable-select': noServicesForSelect == false}">
                        </span>
                </label>
        </div>
        <div class="col-xs-8 no-padd">
                <section *ngIf="servicesExpList.length !== 0">
                <div *ngFor="let option of servicesExpList" class="choosed-goals-field">
                        <span>{{option.name}} </span>
                        <button (click)="changeUsersServiceList(option)"
                        class="btn-remove">
                                <i class="material-icons remove-icon">
                                                clear
                                </i>
                        </button>
                </div>
                </section>
        </div>
        </div>

                <!-- Search services -->
                <div class="col-xs-12 no-padd">
                        <section class="search-position search-section" *ngIf="servicesOffered === true">
                                <app-input-search
                                [label]="'Select service from your services'"
                                class="search"
                                [maxLength]="100"
                                [control]="searchServicesControl"
                                name="serviceNames"
                                [(ngModel)]="serviceName"
                                #serviceNames="ngModel"
                                [required]="!!noServicesForSelect"
                                [placeholder]="skillsPlaceholder"
                                [requiredFieldError]="'Check service from your list'">
                                </app-input-search>
                        
                                <section *ngIf="openAutoUsersServices"
                                [ngClass]="{'block-drop-goals': openAutoUsersServices == true,  'non-vis': openAutoUsersServices == false}">
                                <div *ngFor="let option of optionsUserServises">
                                        <div (click)="setValueUsersServiceFromDropDown(option)">
                                        <i class="material-icons plus-icon">
                                        add_circle_outline
                                        </i>
                                        <span>{{option.name}}</span></div>
                                        </div>
                                </section>
                                </section>
                        </div>
                                <!-- End of Search services -->  


                <!-- SHare skills for payment -->
<div class="row col-xs-12 no-padd">
        <div class="col-xs-4 no-padd">
                <label class="container-ch  align-left">Skills <span *ngIf="skillsExpList.length !== 0">remove all</span>
                        <input type="checkbox"
                                name="skillsOffere"
                                #skillsOffere="ngModel"
                                [(ngModel)]="skillsOffered"
                                (change)="agreeSkillsHandler($event)"
                                [disabled]="!!noSkillsForSelect">
                                <span class="checkmark"
                                [ngClass]="{'disabled-select': noSkillsForSelect == true,  'enable-select': noSkillsForSelect == false}">
                                </span>
                                </label>
        </div>
        <div class="col-xs-8">
        <section *ngIf="skillsExpList.length !== 0">
                        <div *ngFor="let option of skillsExpList" class="choosed-goals-field">
                                <span>{{option.name}} </span>
                                <button (click)="changeUsersSkillList(option)"
                                class="btn-remove">
                                        <i class="material-icons remove-icon">
                                                        clear
                                        </i>
                                </button>
                        </div>
                        </section>
        </div>
</div>

        
<!-- Search skills -->
        <div class="col-xs-12 no-padd">
        <section class="search-position search-section" *ngIf="skillsOffered === true">
                <app-input-search
                [label]="'Select skills from your skills to share'"
                class="search"
                [maxLength]="100"
                [control]="searchSkillsControl"
                name="skillNames"
                [(ngModel)]="skillsName"
                #skillNames="ngModel"
                [required]="!!noSkillsForSelect"
                [placeholder]="skillsPlaceholder"
                [requiredFieldError]="'Check skill from your list'">
                </app-input-search>
        
                <section *ngIf="openAutoUsersSkills"
                [ngClass]="{'block-drop-goals': openAutoUsersSkills == true,  'non-vis': openAutoUsersSkills == false}">
                <div *ngFor="let option of optionsUserSkills">
                        <div (click)="setValueUsersSkillsFromDropDown(option)">
                        <i class="material-icons plus-icon">
                        add_circle_outline
                        </i>
                        <span>{{option.name}}</span></div>
                        </div>
                </section>
                </section>
        </div>
                <!-- End of Search skills -->                            
</div>
                
        </div>
        <div class="col-xs-12 elem row">
                <div class="col-xs-3 row-text">Disable (hide from other users)?</div>
                <label class="container-ch fix-heigth">
                        <input type="checkbox"
                        name="disable"
                        #disable="ngModel"
                        [(ngModel)]="hidden"
                        (change)="hiddenHandler($event)">
                        <span class="checkmark"></span>
                        </label>
        </div>

        <div class="col-xs-12 elem row">
                <div class="col-xs-3 row-text">Select days: </div>
                <div class="col-xs-9 no-padd">
                        <app-week-days></app-week-days>
                </div>
        </div>

        <div class="col-xs-12 row elem">
                <div class="col-xs-3 row-text">Edit time</div>
                <div class="col-xs-9 row no-padd">
                        <div class="col-xs-6 row no-padd">
                                <div class="col-xs-3">
                                        <span class="row-text">From: </span>
                                </div>
                                
                                        <div class="col-xs-9">
                                                <app-select
                                                [options]="time"
                                                [label]="'Set time'"></app-select>
                                        </div>
                        </div>
                        <div class="col-xs-6 no-padd row">
                                <div class="col-xs-3">
                                        <span class="row-text">To: </span>
                                </div>
                                
                                <div class="col-xs-9">
                                        <app-select
                                        [options]="time"
                                        [label]="'Set time'"></app-select>
                                </div>
                        </div>
                        <div class="col-xs-6 no-padd">
                                <label class="container-ch">Trial lesson
                                        <input type="checkbox"
                                        name="trial"
                                        #trial="ngModel"
                                        [(ngModel)]="withTrial"
                                        (change)="trialHandler($event)">
                                        <span class="checkmark"></span>
                                        </label>
                        </div>
                </div>
        </div>
        <div class="col-xs-12 row add-cont">
        <div>
        <input
        type="submit"
        (click)="saveBtn(currentLevel, expectedLevel, withTrial, hidden, goalName, description, expectedRes)" 
        class="btn
        primary-btn
        btn-width-middle"    
        value="Add"
        [disabled]="skillsDataForm.invalid"
        [ngClass]="{'disabled': skillsDataForm.invalid}">
        </div>
        </div>
        <app-alert-modal
        [header]="headerError"
        [actionName]="showErrorText"
        [details]="details"
        [recomend]="recomend"
         #infoPopup></app-alert-modal>
        </form> 
        </div>
        </div>  
</div>