<div class="col-xs-12 row">
    <div [ngClass]="{'non-vis': people.length !== 0 }"
    class="card col-xs-12">
        No results for search
    </div>
    <div class="card col-xs-12 row" *ngFor="let person of people">
        <div class="left-side
                    col-xs-4
                    col-sm-4
                    col-md-4
                    col-lg-2 middle-xs row no-padding head-position">
                    
          <div class="face" [style.background-image]="'url(' + avatar + ')'"
            (click)="viewProfile(person.userEmail)"></div>
            <div class="rate">  {{person.rate}}</div>
            </div>
            <div class="col-xs-4
                        col-sm-4
                        col-md-4
                        col-lg-6
                        head
                        start-xs" >
                        <div class="name">{{ person.firstName }}  {{ person.lastName }}</div>
                        <div class="work" *ngIf="person.jobPosition !== null">{{ person.jobPosition}}</div>
                        <div class="work" *ngIf="person.workPlace !== null">{{ person.workPlace  || 'No info' }}</div>
                     
                        <div *ngIf="person.summary !== null">
                            <label class="summary">{{ person.summary  || 'No info'}}</label>
                        </div>
                       
            </div>
            <div class="col-xs-4
                        col-sm-4
                        col-md-4
                        col-lg-4 end-xs middle-xs"
                        [ngSwitch]="person.interested === true">
<!-- Interested -->

    <span *ngSwitchCase="true">
        <input
        type="submit"
        (click)="unsubscribe(person.userEmail, person.lastName, person.firstName)"
        class="btn
        secondary-btn
        btn-match"    
        value="Unfollow">
    </span>
    <span *ngSwitchCase="false">
        <input
        type="submit"
        (click)="subscribe(person.userEmail, person.lastName, person.firstName)"
        class="btn
        secondary-btn
        btn-match"    
        value="Follow">
    </span>


  </div>
    </div>
  </div>