<div class="col-xs-12 row">
    <div [ngClass]="{'non-vis': people.length !== 0 }"
    class="card col-xs-12">
        No results for search
    </div>
    <div class="card col-xs-12 row" *ngFor="let person of people">
        <div class="left-side
                    col-xs-4
                    col-sm-4
                    col-md-2
                    col-lg-2">
            <div class="face" [style.background-image]="'url(' + avatar + ')'"
            (click)="viewProfile(person.userEmail)"></div>
            </div>
            <div class="col-xs-4
                        col-sm-4
                        col-md-6
                        col-lg-6
                        head
                        start-xs" >
                        <div class="name">{{ person.firstName }}  {{ person.lastName }}</div>
                        <div class="work" *ngIf="person.jobPosition !== null">{{ person.jobPosition}}</div>
                        <div class="work" *ngIf="person.workPlace !== null">{{ person.workPlace  || 'No info' }}</div>
                     
                        <div *ngIf="person.summary !== null">
                            <label class="summary">{{ person.summary  || 'No info'}}</label>
                        </div>
                       
            </div>
            <div class="col-xs-4
                        col-sm-4
                        col-md-4
                        col-lg-4 end-xs top-xs" >
<!-- Interested -->
                <input
                type="submit"
                (click)="interested(person.userEmail)" 
                class="btn
                secondary-btn
                btn-match"    
                value="Interesting">
<!-- VIew profile -->
                <input
                type="submit"
                (click)="viewProfile(person.userEmail)" 
                class="btn
                primary-btn
                btn-match"    
                value="View profile">
  </div>
    </div>
  </div>