@import '../../../../scss/variables';

.enable {
  background-color: map-get($bg-color, 'primary');
}
.disable {
  background-color: map-get($bg-color, 'gray-light');
}

.card {
  background-color: map-get($bg-color, 'white');
  border-radius: 16px;
  padding: 24px 8px 24px 8px;
  min-height: 70px;
  margin-bottom: 1em;
}

.head {
  display: flex;
  flex-direction: column;
  padding: 0px;
}

.name {
  font-size: 14px;
  font-weight: 500;
  color: map-get($bg-color, 'primary');
}
.work {
  font-size: 12px;
  font-weight: 400;
  color: map-get($font-color, 'gray');
  line-height: 1.7em;
}
.summary {
  font-size: 12px;
  font-weight: 400;
  color: map-get($font-color, 'primary');
  line-height: 1.7em;
}
.head-position {
  position: relative;
}
.rate {
  background-color: white;
  display: flex;
  justify-content: center;
  margin-left: -15px;
  height: 16px;
  width: 16px;
  font-size: 0.65rem;
  font-weight: 400;
  padding: 8px 8px 8px 8px;
  color: map-get($font-color, 'primary');
  border-radius: 50%;
  border: 1px solid map-get($bg-color, 'gray');
  z-index: 110;
}
.face {
  height: 6em;
  width: 6em;
  align-self: top;
  border-radius: 50%;
  background-repeat: no-repeat;
  background-size: 140%;
  background-position: center;
  cursor: pointer;
  margin-right: -10px;
  z-index: 100;
}

.btn-service {
  background-color: map-get($bg-color, 'white');
  border-radius: 8px;
  padding: 10px 15px 10px 15px; 
  border: 1px solid map-get($bg-color, 'gray');
  font-size: 0.9em;
  margin: 5px;
}

.tab-expert-class {
  line-height: 3em;
  width: 100%;
  list-style: none;
  margin: 0;
  font-size: 1em;
  font-weight: 600;
  padding: 15px;
}
.non-vis {
  display: none;
}
.btn-match {
  max-width: 120px;
  width: 80%;
  font-size: 16px;
}
.left-side {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
}