<div class="input-field">
  <tag-input [(ngModel)]="item"
  [placeholder]="placeholder"
  [formControl]="control"
  [onlyFromAutocomplete]="true"
  [secondaryPlaceholder]="secondaryPlaceholder"
  (change)="onTextChange($event)"
    (add)="onItemAdded($event)"
  (input)="onChangeInput($event.target.value)"    >
    <tag-input-dropdown class="drop"
      [autocompleteItems]="items"
      [showDropdownIfEmpty]="true"
      [dynamicUpdate]="false"
    >
    </tag-input-dropdown>
  </tag-input>
</div>