<div class="row middle-xs show-content main">
    <div class="col-xs-12
    col-sm-10
    col-md-8
    col-lg-8
    row
    middle-xs
    ">
 <!-- Empty Space -->
 <div class="col-xs-12 no-padd">
    <div class="choosed-skill-field row">
        
           <div class="col-xs-10 start-xs">
              <span>Incoming matches</span>
           </div> 
           <div class="col-xs-2 end-xs">
              <span class="edit"> <i class="material-icons">
                  keyboard_arrow_down
              </i>
            </span>
           </div> 
<span *ngIf="notifications.active.length !==0">
      <section *ngFor="let item of notifications.active">
            <div class="col-xs-2 end-xs">
                     {{item.matchId}}
            </div>
         </section>
</span>
    </div>
    <div class="choosed-skill-field row">
        
        <div class="col-xs-10 start-xs">
           <span>Matched</span>
        </div> 
        <div class="col-xs-2 end-xs">
           <span class="edit"> <i class="material-icons">
              keyboard_arrow_down
           </i>
         </span>
        </div>   
 </div>

 <div class="choosed-skill-field row">
    <div class="col-xs-10 start-xs">
       <span>Outgoing matches</span>
    </div> 
    <div class="col-xs-2 end-xs">
       <span class="edit"> <i class="material-icons">
          keyboard_arrow_down
       </i>
     </span>
    </div>   
  </div>
  <div class="choosed-skill-field row">
      <div class="col-xs-10 start-xs">
         <span>Recomendation</span>
      </div> 
      <div class="col-xs-2 end-xs">
         <span class="edit"> <i class="material-icons">
            keyboard_arrow_down
         </i>
       </span>
      </div>   
    </div> 
    </div>  
    </div>
  </div>        
  
  
  