<div *ngIf="chatsUploaded == true"
    class="main-content row center-xs">
        <section class="body-home
                        row
                        center-xs
                        top-xs
                        col-xs-12
                        col-sm-12
                        col-md-10
                        col-lg-10">
            <div class="col-xs-12
                        col-sm-12
                        col-md-10
                        col-lg-10
                        start-xs
                        bg-white
                        no-padd">
                <div class="hidden-xs
                            hidden-sm
                            col-md-10
                            col-lg 10
                            all-chats">
                  Chats
                  </div>
                  <div class="col-xs-10
                  col-sm-10
                    hidden-md
                    hidden-lg
                    all-chats-sm">
                  Chats
                  </div>
            </div>

            <!-- If there is no chat list -->
            <div class="col-xs-10
                        col-sm-10
                        col-md-8
                        col-lg-8
                        row
                        middle-xs
                        center-xs"
                        *ngIf="chatsExsist.value === false && requestsExsist.value === false"> After you matched with someone, there will appear a hat with this person </div>
<!-- Chats exist -->

              <div class="hidden-xs
              hidden-sm
              col-md-10
              col-lg-10
              row
              box
              top-xs
              chats"
              *ngIf="(chatsExsist | async) || (requestsExsist | async)">
                  <app-chat-list
                  class="scroll-height"
                  [ngClass]="chatWidth"
                  *ngIf="(chatsExsist | async) || (requestsExsist | async)"
                  [chatList]="chatList"
                  [requestsList]="requestsList"
                  (setChatWidth)="setChatWidth($event)"
                  (goToChat)="goToChat($event)"></app-chat-list>

                <div class="chat-conteiner"
                      *ngIf="router.url !== '/main/chats'">
                  <app-chat-window
                      [chatId]="chatId.value"></app-chat-window>
                </div>
            </div>
<!-- Small screen -->
            <div class="col-xs-12
              col-sm-12
              hidden-md
              hidden-lg
              row
              box
              top-xs
              chats"
              *ngIf="(chatsExsist | async) || (requestsExsist | async)">
                  <app-chat-list
                  class="scroll-height col-xs-12"
                  *ngIf="router.url === '/main/chats' && ((chatsExsist | async) || (requestsExsist | async))"
                  [chatList]="chatList"
                  [requestsList]="requestsList"
                  (setChatWidth)="setChatWidth($event)"
                  (goToChat)="goToChat($event)"></app-chat-list>

                <div class="chat-conteiner"
                      *ngIf="router.url !== '/main/chats'">
                  <app-chat-window
                      [chatId]="chatId.value"></app-chat-window>
                </div>
            </div>
        </section>
</div>
