<div class="col-xs-12 row no-padd main-window"
*ngIf="chatUploader === true">
  <div class="col-xs-12 header start-xs">
    <label>{{chat.addInfo.chatDetails.partnerName}} {{chat.addInfo.chatDetails.partnerLastName}} </label>
    <br>
    <span *ngIf="chat.addInfo.chatDetails.chatGoalName !== null">{{chat.addInfo.chatDetails.chatGoalName}} </span>
    <span *ngIf="chat.addInfo.chatDetails.chatSkillName !== null">{{chat.addInfo.chatDetails.chatSkillName}} </span>
  </div>
  <div class="col-xs-12 start-lesson center-xs">
    <span>Start lesson</span>
  </div>
  <div class="col-xs-12 row messege-box">
    <div class="col-xs-10">
      message
    </div>
    <div class="col-xs-2">
      time
    </div>
  </div>
</div>