<div class="row main center-xs col-xs-12">
        <div class="col-xs-10
                    col-sm-10
                    col-md-8
                    col-lg-6
                    center-xs"
                    *ngIf="activePage === 'skills'" appClickOutside (mClickOutside)="outsideSearchClick()">
            <div class="text-hello">Hi! Before we start, please answer some questions:</div>
            <div class="text">What are your excellent skills you are ready to share as an expert?</div>
            <form
            name="skillsDataForm"
            #skillsDataForm="ngForm">
            <div class="col-xs-12 block-with-search">
                    <section *ngIf="isTagsSkills">
                        <app-input-search
                            [control]="searchControl"
                            name="skillNames"
                            [(ngModel)]="skillName"
                            #skillNames="ngModel"
                            [required]="true"
                            [placeholder]="'Start to type name of skill'"
                            [requiredFieldError]="'You can to skip this step.'">
                        </app-input-search>
                    </section>
          
        <section *ngIf="openAuto === true" 
                   class="block-droop">
        <div *ngFor="let option of options" appClickOutside>
              <div (click)="setValueFromDropDown(option, 'skills')">
                  <i class="material-icons plus-icon">
                      add_circle_outline
                    </i>
                    <span>{{option.name}} </span></div>
            </div>
      </section>
      <!-- Selected skills -->
                <div class="col-xs-8 no-padd">
                        <section *ngIf="chipsSkills.length !== 0">
                        <div *ngFor="let option of chipsSkills" class="choosed-goals-field">
                                <span>{{option.name}} </span>
                                <button (click)="changeSkillsList(option)"
                                class="btn-remove">
                                        <i class="material-icons remove-icon">
                                                        clear
                                        </i>
                                </button>
                        </div>
                        </section>
                </div> 
    <!-- End of skills chips -->
            </div>
                  <div class="row">
                    <div class="col-xs-6 no-padd">
                            <button
                            (click)="skipField('goals', 'skill')" 
                            class="btn
                            primary-btn
                            btn-width-middle">
                           Skip</button>
                    </div>
                    <div *ngIf="goToNextPage === true"
                    class="col-xs-6 no-padd">
                        <button
                        (click)="goNext('goals')" 
                        class="btn
                        primary-btn
                        btn-width-middle"  
                        value="Next"
                       >Next</button>
                    </div>
                  </div>
            </form>
        </div>

    <!-- Goals -->
    <div class="col-xs-10
                col-sm-10
                col-md-8
                col-lg-6
                center-xs"
                *ngIf="activePage === 'goals'" appClickOutside (mClickOutside)="outsideSearchClick()">
               
                <div class="text">What would you like to learn?</div>
                <form
                name="goalsDataForm"
                #goalsDataForm="ngForm">
                <div class="col-xs-12 block-with-search">
                    <section *ngIf="isTagsGoals">
                        <app-input-search
                        [control]="searchControl"
                        name="goalName"
                        [(ngModel)]="goalName"
                        #lastName="ngModel"
                        [required]="true"
                        [placeholder]="'Start to type name of goal'"
                        [requiredFieldError]="'You can to skip this step.'"
                        >
                    </app-input-search>
                    </section>

                    <section *ngIf="openAuto === true" 
                    class="block-droop">
                        <div *ngFor="let option of options" appClickOutside>
                            <div (click)="setValueFromDropDown(option, 'goals')">
                              <i class="material-icons plus-icon">
                                add_circle_outline
                              </i>
                              <span>{{option.name}} </span>
                            </div>
                          </div>
                    </section>
      <!-- Selected goals -->
      <div class="col-xs-8 no-padd">
            <section *ngIf="chipsGoals.length !== 0">
                <div *ngFor="let option of chipsGoals" class="choosed-goals-field">
                        <span>{{option.name}} </span>
                        <button (click)="changeGoalsList(option)"
                        class="btn-remove">
                                <i class="material-icons remove-icon">
                                                clear
                                </i>
                        </button>
                </div>
                </section>
        </div> 
    <!-- End of goals chips -->
                    
                </div>
                <div>
                    <div class="row">
                            <div class="col-xs-6 no-padd">
                                    <button
                                    (click)="skipField('interests', 'goal')" 
                                    class="btn
                                    primary-btn
                                    btn-width-middle">
                                   Skip</button>
                            </div>
                            <div class="col-xs-6 no-padd">
                            <div *ngIf="goToNextPage === true">
                                    <button
                                    (click)="goNext('interests')" 
                                    class="btn
                                    primary-btn
                                    btn-width-middle"  
                                    value="Next"
                                   >Next</button>
                                </div>
                            </div>
                    </div>
                    
                  </div>
                </form>
        </div>


        <!-- Interests -->
    <div class="col-xs-10
                col-sm-10
                col-md-8
                col-lg-6
                center-xs"
                *ngIf="activePage === 'interests'" appClickOutside (mClickOutside)="outsideSearchClick()">
           
                <div class="text">What Are Your Interests?</div>
            <form
            name="interestsDataForm"
            #goalsDataForm="ngForm">
            <div class="col-xs-12 block-with-search">
                <section *ngIf="isTagsInterests">
                    <app-input-search
                    [control]="searchControl"
                    name="interestName"
                    [(ngModel)]="interestName1"
                    #interestName="ngModel"
                    [required]="true"
                    [placeholder]="'Start to type name of interest'"
                    [requiredFieldError]="'You can not to continue without any interest'"
                    >
                </app-input-search>
                </section>

                <section *ngIf="openAuto === true" 
                class="block-droop">
                    <div *ngFor="let option of options" appClickOutside>
                        <div (click)="setValueFromDropDown(option, 'interests')">
                            <i class="material-icons plus-icon">
                                add_circle_outline
                              </i>{{option.name}}</div>
                      </div>
                </section>
                <!-- Selected interests -->
                <div class="col-xs-8 no-padd">
                        <section *ngIf="chipsInterest.length !== 0">
                            <div *ngFor="let option of chipsInterest" class="choosed-goals-field">
                                    <span>{{option.name}} </span>
                                    <button (click)="changechipsInterestList(option)"
                                    class="btn-remove">
                                            <i class="material-icons remove-icon">
                                                            clear
                                            </i>
                                    </button>
                            </div>
                            </section>
                    </div> 
                <!-- End of interests chips -->
                
            </div>
            <div>
                <div *ngIf="goToNextPage === true">
                    <button
                    (click)="goNext('done')" 
                    class="btn
                    primary-btn
                    btn-width-middle"  
                    value="Done"
                   >Done</button>
                </div>
              </div>
            </form>
        </div>
</div>
<app-alert-modal
    [header]="headerError"
    [actionName]="showErrorText"
    [details]="details"
    [recomend]="recomend"
    #infoPopup>
</app-alert-modal>