@import '../../../scss/variables';
.main-content {
    padding-left: 20px;
    padding-right: 20px;
    padding-bottom: 30px;
    // margin-top: calc(#{$header-height} - 3px);
    background-color: map-get($bg-color, 'dark-blue');
    min-height: calc(100vh - #{$header-height});
}
.body-home {
    height: 100%;
    padding-left: 20px;
    padding-right: 20px;
    background-color: map-get($bg-color, 'dark-blue');
}
.all-news {
    margin-top: calc(#{$header-height} - 3px);
    padding: 30px 30px 20px 20px;
    color: map-get($font-color, 'inverse');
    font-size: 2.5em;
    font-weight: 700;
}
.posts {
    padding-bottom: 60px;
}