<div class="col-xs-12 row">
    <div [ngClass]="{'non-vis': skills.length !== 0 }"
      class="card col-xs-12">
    No results for search
</div>
<div class="card col-xs-12 row top-xs" *ngFor="let skill of skills">
    <div class="col-xs-4
                col-sm-4
                col-md-4
                col-lg-2
                middle-xs
                row
                no-padding
                head-position
                left-side">
                    
          <div class="face" [style.background-image]="'url(' + avatar + ')'"
            (click)="viewProfile(skill.userEmail)"></div>
            <div class="rate">  {{skill.rate}}</div>
        </div>
        <div class="col-xs-4
                    col-sm-4
                    col-md-4
                    col-lg-4
                    head
                    start-xs" >
                    <div class="name">{{ skill.firstName }}  {{ skill.lastName }}</div>
                    <div class="work" *ngIf="skill.jobPosition !== null">{{ skill.jobPosition}}</div>
                      <div class="work" *ngIf="skill.workPlace !== null">{{ skill.workPlace}}</div>
                   
                      <div *ngIf="skill.summary !== null">
                          <label class="summary">{{ skill.summary  || 'No info'}}</label>
                      </div>
                   

        </div>
        <div class="col-xs-4
                    col-sm-4
                    col-md-4
                    col-lg-6
                    start-xs top-xs skills" >
                    <div *ngIf="skill.skillToShare.length !== 0" class="skill-block">
                      <div class="section-name">Skills to share</div>
                      <!-- List of skills to share -->
                      <div class="btn-skill"
                            *ngFor="let skillTS of skill.skillToShare"
                            (click)="openDetialsBlock(skillTS.skillId)">
                          {{skillTS.skillName}}

                          <div class="open-details non-vis"
                                [id]="skillTS.skillId">
                                <app-skill-drop-down
                                [skill]="skillTS"
                                [type]="'skillTS'"
                                [name]="skill.firstName"
                                (sendReq)="openDetialsBlock(skillTS.skillId, 'sendReqTS')">
                                </app-skill-drop-down>
                                <!--  -->
                              </div>
                            </div>
                    </div>
                    <div *ngIf="skill.skillToObtain.length !== 0" class="skill-block">
                      <div class="section-name">Skills to obtain</div>
                        <!-- List of skills to obtaine -->
                        <div  class="btn-skill"
                              *ngFor="let skillTO of skill.skillToObtain"
                              (click)="openDetialsBlock(skillTO.goalId)">
                            {{skillTO.skillName}}

                            <div class="open-details non-vis"
                                [id]="skillTO.goalId">

                                <app-skill-drop-down
                                [skill]="skillTO"
                                [type]="'skillTO'"
                                [name]="skill.firstName"
                                (sendReq)="openDetialsBlock(skillTO.goalId, 'sendReqTO')">
                                </app-skill-drop-down>
                              </div>
                      </div>
</div>
</div>
<app-alert-modal
    [header]="headerError"
    [actionName]="actionName"
    [details]="details"
    [recomend]="recomend"
 #infoPopup></app-alert-modal>

 <app-error-modal
    [header]="headerError"
    [actionName]="actionName"
    [details]="details"
    [recomend]="recomend"
    [isFooter]="isFooter"
    [isError]="true"
 #errorPopup></app-error-modal>
</div>