<div class="col-xs-12 row">
    <div [ngClass]="{'non-vis': skills.length !== 0 }"
      class="card col-xs-12">
    No results for search
</div>
<div class="card col-xs-12 row top-xs" *ngFor="let skill of skills">
    <div class="col-xs-4
                col-sm-4
                col-md-4
                col-lg-2
                middle-xs
                row
                no-padding
                head-position
                left-side">
                    
          <div class="face" [style.background-image]="'url(' + avatar + ')'"
            (click)="viewProfile(skill.userEmail)"></div>
            <div class="rate">  {{skill.rate}}</div>
        </div>
        <div class="col-xs-4
                    col-sm-4
                    col-md-4
                    col-lg-4
                    head
                    start-xs" >
                    <div class="name">{{ skill.firstName }}  {{ skill.lastName }}</div>
                    <div class="work" *ngIf="skill.jobPosition !== null">{{ skill.jobPosition}}</div>
                      <div class="work" *ngIf="skill.workPlace !== null">{{ skill.workPlace}}</div>
                   
                      <div *ngIf="skill.summary !== null">
                          <label class="summary">{{ skill.summary  || 'No info'}}</label>
                      </div>
                   

        </div>
        <div class="col-xs-4
                    col-sm-4
                    col-md-4
                    col-lg-6
                    start-xs top-xs skills" >
                    <div *ngIf="skill.skillToShare.length !== 0" class="skill-block">
                      <div class="section-name">Skills to share</div>
                      <!-- List of skills to share -->
                      <div class="btn-skill"
                            *ngFor="let skillTS of skill.skillToShare"
                            (click)="openDetialsBlock(skillTS.skillId)">
                          {{skillTS.skillName}}

                          <div class="open-details non-vis"
                                [id]="skillTS.skillId">
                                <div class="skill-name-title">Skill: 
                                  <span class="skill-name">{{skillTS.skillName}}</span>
                                </div>
                                <div class="skill-name-title">To excange:</div>
                                <span>
                                  <!-- Skills -->
                                  <section class="skill-name-title" *ngIf="skillTS.inExchange.skillsToObtain.length !==0">
                                      Skills: 
                                      <span class="skill-name" *ngFor="let t of skillTS.inExchange.skillsToObtain">
                                          {{t.name}}
                                     </span>
                                  </section>
                                  <!-- Services -->
                                  <section class="skill-name-title" *ngIf="skillTS.inExchange.money == true">
                                    <span class="skill-name">Services <i class="material-icons">check</i></span>
                                  </section>
                                  <section class="skill-name-title" *ngIf="skillTS.inExchange.money == true">
                                      <span class="skill-name-title">Money: </span>
                                      <div class="skill-name" *ngFor="let m of skillTS.inExchange.fee">
                                          <span class="skill-name-title">{{m.type | pricesTypes}}: </span>
                                          <span class="skill-name">{{m.value}} ({{m.currency}})</span>
                                      </div>
                                    </section>
                                  </span>

                                  <div  class="btn-match-mini"
                                  (click)="openDetialsBlock(skillTS.skillId, 'sendReqTS')">
                                    match
                                  </div>
                              </div>
                            </div>
                    </div>
                    <div *ngIf="skill.skillToObtain.length !== 0" class="skill-block">
                      <div class="section-name">Skills to obtain</div>
                        <!-- List of skills to obtaine -->
                        <span  class="btn-skill"
                              *ngFor="let skillTO of skill.skillToObtain"
                              (click)="openDetialsBlock(skillTO.goalId)">
                            {{skillTO.skillName}}

                            <div class="open-details non-vis"
                                [id]="skillTO.goalId">
                                <div class="skill-name-title">Skill: 
                                  <span class="skill-name">{{skillTO.skillName}}</span>
                                </div>
                                <div class="skill-name-title">To excange:</div>
                                <span>
                                  <!-- Skills -->
                                  <section class="skill-name-title" *ngIf="skillTO.inExchange.skillsToShare.length !==0">
                                      Skills: 
                                      <span class="skill-name" *ngFor="let t of skillTO.inExchange.skillsToShare">
                                          {{t.name}} 
                                     </span>
                                  </section>
                                  <!-- Services -->
                                  <section *ngIf="skillTO.inExchange.services.length !==0">
                                    <span class="skill-name-title">Services: 
                                        <span class="skill-name" *ngFor="let s of skillTO.inExchange.services">
                                            {{s.name}} 
                                        </span>
                                    </span>
                                  </section>
                                  <section class="skill-name-title" *ngIf="skillTO.inExchange.money == true">
                                    <span class="skill-name">Money <i class="material-icons">check</i></span>
                                  </section>
                                  </span>

                                  <div  class="btn-match-mini"
                                  (click)="openDetialsBlock(skillTO.goalId, 'sendReqTO')">
                                    match
                                  </div>
                              </div>
                        </span>
                      </div>
</div>
</div>
<app-alert-modal
    [header]="headerError"
    [actionName]="actionName"
    [details]="details"
    [recomend]="recomend"
 #infoPopup></app-alert-modal>

 <app-error-modal
    [header]="headerError"
    [actionName]="actionName"
    [details]="details"
    [recomend]="recomend"
    [isFooter]="isFooter"
    [isError]="true"
 #errorPopup></app-error-modal>
</div>