@import '../../../../scss/variables';

.enable {
  background-color: map-get($bg-color, 'primary');
}
.disable {
  background-color: map-get($bg-color, 'gray-light');
}

.card {
  background-color: map-get($bg-color, 'white');
  border-radius: 16px;
  padding: 8px;
  min-height: 70px;
  margin-bottom: 1em;
}

.head {
  display: flex;
  flex-direction: column;
  padding: 0px;
}

.name {
  font-size: 0.875rem;
  font-weight: 600;
}
.work {
  font-size: 0.75rem;
  font-weight: 400;
  color: map-get($font-color, 'gray');
  line-height: 1.7em;
}
.summary {
  font-size: 0.875rem;
  font-weight: 400;
  color: map-get($font-color, 'primary');
  line-height: 1.7em;
}
.head-position {
  position: relative;
}
.rate {
  background-color: white;
  display: flex;
  justify-content: center;
  margin-left: -15px;
  height: 20px;
  width: 20px;
  font-size: 0.75rem;
  font-weight: 600;
  padding: 8px 8px 8px 8px;
  color: map-get($font-color, 'primary');
  border-radius: 50%;
  border: 1px solid map-get($bg-color, 'gray');
  z-index: 110;
}
.face {
  height: 8em;
  width: 8em;
  align-self: top;
  border-radius: 50%;
  background-repeat: no-repeat;
  background-size: 140%;
  background-position: center;
  cursor: pointer;
  margin-right: -10px;
  z-index: 100;
}

.btn-skill {
  background-color: map-get($bg-color, 'white');
  border-radius: 8px;
  padding: 6px 15px 6px 15px; 
  border: 1px solid map-get($bg-color, 'gray');
  font-size: 0.85em;
  margin: 5px 10px 5px 0px;
  display: inline;
  &:hover {
    background-color: map-get($bg-color, 'light-blue');
    cursor: pointer;
  }
}

.skill-block {
  font-size: 1em;
  line-height: 2em;
  position: relative;

}
.open-details {
  position: absolute;
  bottom: 26px;
  left: 1px;
  width: 120px;
  border-radius: 8px;
  padding: 10px;
  background-color: white;
  color: map-get($font-color, 'primary');
  border: 1px solid map-get($bg-color, 'gray');
}
.non-vis {
  display: none;
}
.btn-match {
  max-width: 170px;
  width: 80%;
  font-size: 16px;
}
.btn-match-mini {
  line-height: 2em;
  margin-top: 5px;
  text-align: center;
  height: 28px;
  font-size: 12px;
  font-weight: 500;
  border-radius: 4px;
  background-color:  map-get($bg-color, 'primary');
  color: white;
  border: 1px solid map-get($bg-color, 'gray');
  &:hover {
    background-color: map-get($bg-color, 'light-blue');
    cursor: pointer;
    color: map-get($bg-color, 'primary');
  }
}
.skill-name {
  font-size: 0.85em;
  line-height: 1.7em;
  font-weight: 600;
  i {
    font-size: 0.9em;
    color:  map-get($bg-color, 'primary');
    font-weight: 800;
  }
}
.skill-name-title {
  font-size: 0.85em;
  font-weight: 400;
  line-height: 2.5em;
}
.section-name {
  font-size: 0.8rem;
  font-weight: 600;
}
.skills {
  padding: 0px 16px 20px 16px;
}
.left-side {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
}