<header class="row">
    <div class="navigation-container
                col-xs-12
                col-sm-12
                col-md-12
                col-lg-12
                row">
    <div class="col-xs-3">
            <a [routerLink]="'/main'" routerLinkActive="active" class="logo">
                <img src="assets/images/svg-icons/skilliton_logo.svg" class="logo-img">
            </a>
    </div>
    <div class="col-xs-9">
            <nav *ngIf="currParentUrl !== 'login' && currParentUrl
            !== 'registration' && currParentUrl
            !== 'registration-success' && currParentUrl !== 'unknownPage'
            && currParentUrl !== 'page-not-found'">
                <ul>
                    <form name="searchControl"
                    #searchControl="ngForm"
                    >
                    <li [ngClass]="{'non-vis': searchVis === false}" class="form-group">
                        <input type="search"
                        [value]="search"
                        class="search-inp-top form-control"
                        name="search"
                        [(ngModel)]="searchValue"
                        #search="ngModel"
                        (keyup.enter)="setSearch(searchValue)"
                        >
                    </li>
                </form>
                    <li class="li-link"><i class="material-icons search-btn" (click)="openSearch()">search</i></li>
                    <li class="li-link"><a href="#" [routerLink]="'/main'" routerLinkActive="active">Home</a></li>
                    <li class="li-link"><a href="#" [routerLink]="'/main'" routerLinkActive="active">Library</a></li>
                    <li class="li-link"><a href="#" [routerLink]="'/main'" routerLinkActive="active">Classroom</a></li>
                    <li class="li-link"><a href="#" [routerLink]="'/main/chats'" routerLinkActive="active">Chat</a></li>
                    <li class="li-link"><a href="#" [routerLink]="'/main/profile'" routerLinkActive="active">Notifications</a></li>
                    <li><a href="#" [routerLink]="'/main/profile'" routerLinkActive="active"><i class="material-icons exit-btn">account_circle</i></a></li>
                    <li>
                            <!-- <app-lang-switcher></app-lang-switcher> -->
                        </li>
                    <li><i class="material-icons exit-btn" (click)="exitApp()">exit_to_app</i></li>
                </ul>
                    <section *ngIf="currParentUrl === 'registration'">
                          <ul>
                          <li ><a href="#" [routerLink]="''" routerLinkActive="active"><span>Log in</span></a></li>
                          <li>
                              <app-lang-switcher></app-lang-switcher>
                          </li>
                          </ul>
                    </section>
                  <section *ngIf="currParentUrl === 'login'">
                      <ul>
                              <li ><a href="#" [routerLink]="'/registration'" routerLinkActive="active"><span>Sign Up</span></a></li>
                              <li>
                                  <app-lang-switcher></app-lang-switcher>
                              </li>
                      </ul>
                      
                    </section>
                  </nav>
            <nav *ngIf="currParentUrl === 'registration'">
                <ul>
                    <li ><a href="#" [routerLink]="''" routerLinkActive="active"><span>Log in</span></a></li>
                    <li>
                        <app-lang-switcher></app-lang-switcher>
                    </li>
                </ul>
            </nav>

            <nav *ngIf="currParentUrl === 'unknownPage' || currParentUrl === 'page-not-found'">
                    <ul>
                        <li ><a href="#" [routerLink]="''" routerLinkActive="active"><span>Log in</span></a></li>
                        <li ><a href="#" [routerLink]="'/registration'" routerLinkActive="active"><span>Sign Up</span></a></li>
                        <li>
                            <app-lang-switcher></app-lang-switcher>
                        </li>
                        </ul>
            </nav>


            <nav *ngIf="currParentUrl === 'login'">
                <ul>
                    <li ><a href="#" [routerLink]="'/registration'" routerLinkActive="active"><span>Sign Up</span></a></li>
                    <li>
                        <app-lang-switcher></app-lang-switcher>
                    </li>
                </ul>
            </nav>
    </div>
    </div>
</header>
