<header class="row">
    <div class="navigation-container
                col-xs-12
                col-sm-12
                col-md-12
                col-lg-12">
        <a routerLink="/home" class="logo">
            <img src="assets/images/skilliton_logo.png" class="logo-img">
        </a>
        <nav>
       
          <section *ngIf="currParentUrl !== 'login' && currParentUrl !== 'registration'">
                <ul>
            <li><a href="#" routerLink="/home" [routerLinkActive]="['active']"><span>Home</span></a></li>
            <li><a href="#" routerLink="/home"><span>Library</span></a></li>
            <li ><a href="#" routerLink="/home"><span>My classroom</span></a></li>
            <li><a href="#" routerLink="/home"><i class="material-icons exit-btn">chat</i></a></li>
                <li><a href="#" routerLink="/profile" [routerLinkActive]="['active']"><i class="material-icons exit-btn">account_circle</i></a></li>
                <li>
                        <app-lang-switcher></app-lang-switcher>
                    </li>
                <li><i class="material-icons exit-btn" (click)="exitApp()">exit_to_app</i></li>
                </ul>
          </section>
          <section *ngIf="currParentUrl === 'registration'">
                <ul>
                <li ><a href="#" routerLink="/login"><span>Log in</span></a></li>
                <li>
                    <app-lang-switcher></app-lang-switcher>
                </li>
                </ul>
          </section>
        <section *ngIf="currParentUrl === 'login'">
            <ul>
                    <li ><a href="#" routerLink="/registration"><span>Sign Up</span></a></li>
                    <li>
                        <app-lang-switcher></app-lang-switcher>
                    </li>
            </ul>
            
          </section>
        </nav>
    </div>
</header>
