<header class="row">
    <div class="navigation-container
                col-xs-12
                col-sm-12
                col-md-12
                col-lg-12">
        <a routerLink="/" class="logo">
            <img src="assets/images/skilliton_logo.png" class="logo-img">
        </a>
        <nav>
        <ul>
            <li><a href="#" routerLink="/">Sign Up</a></li>
            <li><a href="#" routerLink="/list">Log in</a></li>
            <li>
                <app-lang-switcher></app-lang-switcher>
            </li>
        </ul>
        </nav>
    </div>
</header>
