@import '../../../../scss/variables';

.toast-fail {
  display: flex;
  background-color: map-get($bg-color, 'error');
  align-items: center;
  color: white;
  font-size: 15px;
  padding: 16px 16px;
  justify-content: center;
  text-align: center;
  opacity: 0.8;
}