<div class="one-post row" *ngIf="router.url === '/home'">
        <div class="header-box col-xs-12 row">
                <div class="left-side col-xs-2">
                            <i class="material-icons face">face</i>

                </div>
                <div class="col-xs-10
                            head">
                            <div class="col-xs-6
                            ">
                            <span class="name">Bill</span>
                            <br/>
                            <span>Professor</span>
                            <br/>
                            <span>Stanford university</span>

                </div>
                <div class="col-xs-6
                markers">
                <span class="date-of-post">01/01/2019</span>
                <i class="material-icons mark">bookmark_border</i>
                </div>
            </div>
    <div class="col-xs-10 col-xs-offset-2">
        <p>
            Data science is a multi-disciplinary field that uses scientific methods, processes, algorithms and systems to extract knowledge and
            insights from structured and unstructured data.[1][2] Data science is the same concept as data mining and big data: "use the most
            powerful hardware, the most powerful programming systems, and the most efficient algorithms to solve problems".
        </p>
        <img src="assets/images/picture.png" class="post-img col-xs-12">
        <div class="row middle-xs tex-bg">
                <div class="col-xs-2">
                        150 likes
                 </div>
                 <div class="col-xs-2">
                        13 Dislikes
                  </div>
                  <div class="col-xs-2">
                        2 Comments
                  </div>
                  <div class="row col-xs-6 end-xs middle-xs">
                         <div class="col-xs-6 end-xs top-xs">
                                Copy link
                                <i class="material-icons link">link</i>
                          </div>
                          <div class="col-xs-6 end-xs top-xs">
                                Share
                                <i class="material-icons link">share</i>
                          </div>
                </div>
        </div>
<!-- commentary -->
        <div class="row top-xs tex-bg comment-box">
                <div class="col-xs-1">
                        <i class="material-icons ava2">account_circle</i>
                 </div>

                  <div class="row col-xs-11 top-xs">
                         <div class="col-xs-11 top-xs">
                                <span class="name2">Name Lastname </span> 
                                <span class="sm-descr">3 days ago</span>
                                <p class="tex-bg">
                                        Comment comment comment Comment comment commentComment comment comment Comment comment comment
                                        Comment comment comment Comment comment commentComment comment comment Comment comment comment
                                        Comment comment comment Comment comment commentComment comment comment Comment comment comment
                                    </p>
                          </div>
                          <div class="col-xs-1 end-xs top-xs">
                                <i class="material-icons">more_vert</i>
                          </div>
                </div>
        </div>

        
        <div class="row middle-xs tex-bg comment-box">
                <div class="col-xs-1">
                        <i class="material-icons ava3">account_circle</i>
                 </div>

                  <div class="row col-xs-11 top-xs middle-xs">
                         <div class="col-xs-10 top-xs">
                                <app-input-text
                                name="userInput"
                                >
                                </app-input-text>
                          </div>
                          <div class="col-xs-2 around-xs">
                                <i class="material-icons">insert_emoticon</i>
                                <i class="material-icons">attach_file</i>
                                <i class="material-icons">send</i>
                          </div>
                </div>
        </div>
    </div>

</div>

