@import './../scss/variables';

body {
    margin: 0;
    font-family: 'Montserrat', sans-serif;
}

.container {
    width: 100%;
    height: calc(100vh - #{$header-height} - #{$footer-height});
}



h1 {
    margin-top: 2em;
}

#content {
    width: 100%;
}
.top-sidebar {
    padding-right: 0px;
    margin-right: 0px;
    padding-left: 0px;
}