<div class="row">
  <div class="col-xs-12
              col-sm-6
              col-md-6
              col-lg-4
              row">
      <div class="col-xs-12 header-block row">
        <div class="col-xs-10 title-header-block start-xs">
            Back End Web Development
        </div> 
        <div class="col-xs-2 end-xs">
            <button (click)="goToSubUrl('/profile/about-me')"
            class="edit-round-btn">
        <i class="material-icons edit-icon">
            edit
        </i>
    </button>
        </div>
      </div>
      <div class="col-xs-12 description-block start-xs">Data science is a multi-disciplinary field that uses scientific methods, processes, algorithms and systems to extract knowledge and
          insights from structured and unstructured data.</div>
      <div class="col-xs-12 table-block">
          <table class="table">
              <tr>
                <td>Level</td>
                <td>Expert</td>
              </tr>
              <tr>
                <td>Education</td>
                <td>Courses</td>
              </tr>
              <tr>
                <td>Relevant expience</td>
                <td>5 years for Microsoft</td>
              </tr>
              <tr>
                <td>Traning expertise</td>
                <td>Yes, i can</td>
              </tr>
              <tr>
                <td>Recomendation</td>
                <td><a>TWK Media Ltd Rec.pdf</a>, <a>Solon Ventures Rec.pdf</a></td>
              </tr>
              <tr>
                <td>Certificates</td>
                <td><a>DAF.pdf</a></td>
              </tr>
              <tr>
                <td>In exchange</td>
                <td>
                  <table class="included-table">
                  <tr>
                    <td>Individual</td>
                    <td>$150 / h</td>
                  </tr>
                  <tr>
                    <td>Group</td>
                    <td>$150 / h</td>
                    </tr>
                </table></td>
              </tr>
            </table>
      </div>
  </div>


  <!-- Double -->
  <div class="col-xs-12
              col-sm-6
              col-md-6
              col-lg-4
              row">
      <div class="col-xs-12 header-block row">
        <div class="col-xs-9 title-header-block center-xs col-xs-offset-1">
           Title
        </div> 
        <div class="col-xs-2 end-xs">
            <button (click)="goToSubUrl('/profile/about-me')"
            class="edit-round-btn">
        <i class="material-icons edit-icon">
            edit
        </i>
    </button>
        </div>
      </div>
      <div class="col-xs-12 description-block start-xs">Data science is a multi-disciplinary field that uses scientific methods, processes, algorithms and systems to extract knowledge and
          insights from structured and unstructured data.</div>
      <div class="col-xs-12 table-block">
          <table class="table">
              <tr>
                <td>Level</td>
                <td>Expert</td>
              </tr>
              <tr>
                <td>Education</td>
                <td>Courses</td>
              </tr>
              <tr>
                <td>Relevant expience</td>
                <td>5 years for Microsoft</td>
              </tr>
              <tr>
                <td>Traning expertise</td>
                <td>Yes, i can</td>
              </tr>
              <tr>
                <td>Recomendation</td>
                <td><a>TWK Media Ltd Rec.pdf</a>, <a>Solon Ventures Rec.pdf</a></td>
              </tr>
              <tr>
                <td>Certificates</td>
                <td><a>DAF.pdf</a></td>
              </tr>
              <tr>
                <td>In exchange</td>
                <td>
                  <table class="included-table">
                  <tr>
                    <td>Individual</td>
                    <td>$150 / h</td>
                  </tr>
                  <tr>
                    <td>Group</td>
                    <td>$150 / h</td>
                    </tr>
                </table></td>
              </tr>
            </table>
      </div>
  </div>

  <!-- triple -->

  <div class="col-xs-12
              col-sm-6
              col-md-6
              col-lg-4
              row">
      <div class="col-xs-12 header-block row">
        <div class="col-xs-9 title-header-block center-xs col-xs-offset-1">
           Title
        </div> 
        <div class="col-xs-2 end-xs">
            <button (click)="goToSubUrl('/profile/about-me')"
            class="edit-round-btn">
        <i class="material-icons edit-icon">
            edit
        </i>
    </button>
        </div>
      </div>
      <div class="col-xs-12 description-block start-xs">Data science is a multi-disciplinary field that uses scientific methods, processes, algorithms and systems to extract knowledge and
          insights from structured and unstructured data.</div>
      <div class="col-xs-12 table-block">
          <table class="table">
              <tr>
                <td>Level</td>
                <td>Expert</td>
              </tr>
              <tr>
                <td>Education</td>
                <td>Courses</td>
              </tr>
              <tr>
                <td>Relevant expience</td>
                <td>5 years for Microsoft</td>
              </tr>
              <tr>
                <td>Traning expertise</td>
                <td>Yes, i can</td>
              </tr>
              <tr>
                <td>Recomendation</td>
                <td><a>TWK Media Ltd Rec.pdf</a>, <a>Solon Ventures Rec.pdf</a></td>
              </tr>
              <tr>
                <td>Certificates</td>
                <td><a>DAF.pdf</a></td>
              </tr>
              <tr>
                <td>In exchange</td>
                <td>
                  <table class="included-table">
                  <tr>
                    <td>Individual</td>
                    <td>$150 / h</td>
                  </tr>
                  <tr>
                    <td>Group</td>
                    <td>$150 / h</td>
                    </tr>
                </table></td>
              </tr>
            </table>
      </div>
  </div>

</div>
