<div class="row">
    <div class="col-xs-12">
        <div class="section-of-block
                    col-xs-12
                    col-sm-12
                    col-md-12
                    col-lg-12
                    row
                    center-xs
                    services"
                    *ngIf="!showSkills"
                    >
        Add information about skills
</div>
<div class="col-xs-12 row no-padding">
    <div class="col-xs-12
    col-sm-6
    col-md-6
    col-lg-4
    row
    margin-bottom"
    *ngFor="let skill of skills">
  <div class="col-xs-12
          header-block
          row"
          [ngClass]="{'enable': skill.isActive === true,  'disable': skill.isActive === false}">
      <div class="col-xs-10
                title-header-block
                start-xs"
                >
        {{skill.name}}
      </div> 
        <div class="col-xs-2 end-xs">
          <button (click)="goToSubUrl('/profile/about-me')"
          class="edit-round-btn">
        <i class="material-icons edit-icon">
          edit
        </i>
        </button>
        </div>
        </div>
        <div class="col-xs-12 description-block start-xs"> {{skill.description}}</div>
        <div class="col-xs-12 table-block">
        <table class="table">
            <tr>
              <td>Level</td>
              <td>{{skill.level | skillLevels}}</td>
            </tr>
            <tr>
                <td>Education</td>
                <td>{{skill.degree}}</td>
              </tr>
            <tr>
                <td>Education language</td>
                <td><span *ngFor="let lang of skill.educationLanguage">{{lang | langs}} </span></td>
              </tr>
              <tr>
                <td>Relevant expience</td>
                <td>{{skill.relevantExperience}}</td>
              </tr>
              <tr>
                  <td>Traning expertise</td>
                  <td>{{skill.trainingExpertise}}</td>
                </tr>
              <tr>
              <td>In exchange:</td>
              <td class="td-with-incl-table"><table class="included-table">
                <section  *ngIf="skill.share.goal.length !==0">
                    <tr>
                        <td>Skills</td>
                        <td><span *ngFor="let skill of skill.share.goal">{{skill}}</span></td>
                      </tr>
                </section>
                  
                  <section *ngIf="skill.share.price.length !==0" >
                      <tr>
                        <section  *ngFor="let price of skill.share.price">
                          <td>{{price.type | pricesTypes}}</td>
                          <td>$ {{price.value}}</td>
                        </section>
                          </tr>
                  </section>
                  <section *ngIf="skill.share.service === true" >
                      <tr>
                          <td>Service</td>
                          <td> </td>
                          </tr>
                  </section>
                </table></td>
            </tr>
            <tr>
              <td>Schedule</td>
              <td>Courses</td>
            </tr>
            <tr>
              <td>Time</td>
              <td>10:00 - 22:00</td>
            </tr>
            <tr>
              <td>Trial lesson</td>
              <td *ngIf="skill.share.trial === true">Yes, I do</td>
              <td *ngIf="skill.share.trial === false">No</td>
            </tr>
          </table>
        </div>
  </div>
</div>
 <!-- End of includer -->
  </div>
  