@import '../../../../scss/variables';

.table {
  width: 100%;
  font-size: 0.8em;
  background-color: #F1F6FA;
  border-collapse: collapse;
  tr:nth-child(even) {
    background-color: white;
  }
  tr {
    .padd {
      padding: 10px 10px 10px 10px;
    }
    td:nth-child(even) {
      width: 70%;
    }
    td {
      vertical-align: top;
      width: 30%;
    }
  }
}
.included-table {
  width: 100%;
  tr {
    td {
      width: 50%;
      padding: 5px 0px 5px 0px;
    }
  }
}

.header-block {
  border-top-right-radius: 16px;
  border-top-left-radius: 16px;
  min-width: 240px;
  padding: 10px;
  font-size: 1.2em;
  font-weight: 500;
  color: map-get($font-color, 'inverse');
}

.enable {
  background-color: map-get($bg-color, 'primary');
}
.disable {
  background-color: map-get($bg-color, 'gray-light');
}
.table-block {
  min-width: 240px;
  padding: 0px;
  border-bottom-left-radius: 8px;
  border-bottom-right-radius: 8px;
  border: 1px solid white;
}
.description-block {
  font-size: 0.8em;
  min-width: 240px;
  background-color: white;
  padding: 16px 16px 16px 16px;
}
.edit-round-btn {
  width: 1.8em;
  height: 1.8em;
  border-radius: 50%;
  background-color: map-get($bg-color, 'white');
  border: 1px solid  map-get($bg-color, 'gray');
  .edit-icon {
      font-size: 0.8em;
      color: map-get($font-color, 'gray');
  }
  &:hover {
      background-color: map-get($bg-color, 'primary');
      cursor: pointer;
      .edit-icon {
          color: map-get($font-color, 'gray-lighter');
      }
  }
}
.title-header-block {
  padding-left: 10px;
}

.margin-bottom {
  margin-bottom: 20px;
}

.services {
  background-color: map-get($bg-color, 'white');
  border-radius: 16px;
  padding: 20px;
  min-height: 70px;
}

.no-padding {
  padding-left: 0px;
  padding-right: 0px;
}

.td-with-incl-table {
  padding: 0px;
}
.incl1 {
  padding: 0px;
}

.descr-field-init {
  border-bottom-right-radius: 8px;
  border-bottom-left-radius: 8px;
  font-size: 0.8em;
  min-width: 240px;
  background-color: white;
  padding: 20px 16px 20px 16px;
}

.section-100 {
  width: 100%;
}