@import '../../../scss/variables';

.main-block {
    display: flex;
    flex-direction: row;
    padding: 0px;
    align-content: center;
    height: 100%;
    margin-left: 0px;
    margin-right: 0px;
    overflow-x: hidden;
}
.left-side-block {
    flex-direction: column;
    padding: 80px;
    justify-content: center;
    background-color: map-get($bg-color, 'primary');
    color: white;
    font-size: 16px;
    height: 100%;
}

.right-side-block {
    display: flex;
    flex-direction: column;
    padding: 20px;
    justify-content: center;
    align-items: center;
    height: 100%;
}

.btn-margin-bottom {
    margin-bottom: 5%;
}

.as-btn {
    display: flex;
    justify-content: center;
    align-items: center;
    color: map-get($font-color,'primary');

    &:hover {
        cursor: pointer;
    }
}

.non-vis {
    display: none;
}

.vis {
    display: flex;
}

.form-width {
    max-width: 360px;
    min-width: 280px;
}

.align-center {
    align-items: center;
}

.btn-submit-login{
    color: map-get($font-color,'primary');
  }

  .login-btns-conteiner {
      display: flex;
      align-content: center;
      justify-content: center;
  }

  .checkbox-remember-me {
      width: 20px;
      height: 20px;
      border-radius: 0px;
      background-color: white;
      border: 1px solid map-get($bg-color, 'primary');
  }