<div class="main-block includer col-xs-12">
        <div class="left-side-block
                    col-xs-12
                    col-sm-12
                    col-md-6
                    col-lg-6"
                    [ngClass]="{'vis': isLogin == false, 'non-vis': isLogin == true}">
                    <h2>WHAT IS IT?</h2>
                    <p>This is a social online space in which users
                            exchange knowledge and practical experience
                            in the most convenient format for learning
                            and improve skills thanks to each other.</p>
           
        </div>
        <div class="left-side-block
        align-center
        col-xs-12
        col-sm-12
        col-md-6
        col-lg-6"
        [ngClass]="{'non-vis': isLogin == false, 'vis': isLogin == true}">

        <!-- Form with login parametres -->
        <form class="form-width"
            name="loginForm"
            #loginForm="ngForm"
            >

            <div class="login-form">
            <div class="input-container">
                <div class="input-name">Nickname or e-mail: </div>
                <app-input-text
                name="userInput"
                [(ngModel)]="nickname"
                #userInput="ngModel"
                [required]="true"
                [requiredFieldError]="'Nickname or e-mail is required'"
                >
                </app-input-text>
            </div>
            <div class="input-container">
                <div class="input-name">Password: </div>
                <app-input-password name="passwordInput"
                                    [(ngModel)]="password"
                                    [required]="true"
                                    #passwordInput="ngModel"
                                    [requiredFieldError]="'Password is required'"
                                    >
                </app-input-password>
                <input class="checkbox-remember-me"
                type="checkbox"
                name="rememberMe"
                #rememberMeInput="ngModel"
                [(ngModel)]="rememberMe" 
                checked="false"
                (change)="rememberMeClick($event)"/> <span>Remember me</span>
                </div>

            <div class="login-btns-conteiner">
                <input type="submit" 
                    (click)="setAuthConf(nickname, password, rememberMe)" 
                    class="btn
                    primary-btn
                    btn-width-middle
                    btn-submit-login"  
                    value="enter"
                    [disabled]="loginForm.invalid"
                    [ngClass]="{'disabled': loginForm.invalid}">
            </div>
            </div>
            <div *ngIf="showError" class="error-login">
                {{showErrorText}}
            </div>
    </form>
</div>
        <div class="right-side-block
                    col-xs-12
                    col-sm-12
                    col-md-6
                    col-lg-6">
                    <div class="btn
                    primary-btn
                    btn-width-middle
                    btn-height-middle
                    btn-margin-bottom
                    as-btn"
                    routerLink="../registration">
                    <span>Sign Up</span>
                    </div>
                    <div class="btn
                    primary-btn
                    btn-width-middle
                    btn-height-middle
                    as-btn"
                    (click)="openLogin()">
                    <span>Log in</span>
                </div> 
        </div>
    </div>