<div class="main-block includer row">
        <div class="left-side-block
                    col-xs-12
                    col-sm-12
                    col-md-6
                    col-lg-6
                    start-xs"
                    [ngClass]="{'vis': isLogin == false, 'hidden-xs': isLogin == true}"
                   >
                    <div class="col-xs-12
                    col-sm-12
                    col-md-8
                    col-lg-6
                    col-md-offset-1
                    col-lg-offset-2">
                        <h2 class="">WHAT IS IT?</h2>
                        <p class="p-login">This is a social online space in which users
                            exchange knowledge and practical experience
                            in the most convenient format for learning
                            and improve skills thanks to each other.</p>
                    </div>

           
        </div>
        <div class=""
        [ngClass]="{'non-vis': isLogin == false, 'vis': isLogin == true}">

        
</div>
        <div class="right-side-block
                    col-xs-12
                    col-sm-12
                    col-md-6
                    col-lg-6"
                    >
                    <div class="btn-conteiner"
                    [ngClass]="{'vis': isLogin == false, 'non-vis': isLogin == true}">

                            <button class="btn
                            primary-btn
                            btn-width-middle
                            btn-height-middle
                            btn-margin-bottom"
                            routerLink="../registration"
                            >
                            <span>Sign Up</span>
                            </button>
                            <button class="btn
                            primary-btn
                            btn-width-middle
                            btn-height-middle"
                            (click)="openLogin()">
                            <span>Log in</span>
                        </button>
                    </div>

                    <div class="btn-conteiner"
                    [ngClass]="{'vis': isLogin == true, 'non-vis': isLogin == false}">
                        <!-- Form with login parametres -->
        <form class="form-width"
                    name="loginForm"
                    #loginForm="ngForm">

            <div class="login-form">
                <div class="spec-padd">
                        
                    <div class="input-name">E-mail: </div>
                    <app-input-text
                        name="userInput"
                        [(ngModel)]="nickname"
                        #userInput="ngModel"
                        [required]="true"
                        [requiredFieldError]="'Nickname or e-mail is required'"
                        >
                    </app-input-text>
                    </div>

                    <div class="spec-padd">
                            <div class="input-name">Password: </div>
                            <app-input-password name="passwordInput"
                                [(ngModel)]="password"
                                [required]="true"
                                #passwordInput="ngModel"
                                [requiredFieldError]="'Password is required'"
                                >
                            </app-input-password>
                            <a><span class="forgot-pass">Forgot your password?</span></a><br/>
                            <div class="rem-me-block">
                                    <label class="container-ch">
                                            Remember me
                                            <input
                                            type="checkbox"
                                            name="rememberMe"
                                            checked="false"
                                            name="rememberMeInput"
                                            [required]="false"
                                            #rememberMeInput="ngModel"
                                            [(ngModel)]="rememberMe" 
                                            (change)="rememberMeClick($event)"/> 
                                            <span class="checkmark"></span>
                                        </label>
                            </div>
                    </div>

                    

                    <div class="btn-margin-top spec-padd">
                    <input type="submit" 
                        (click)="setAuthConf(nickname, password, rememberMe)" 
                        class="btn
                        primary-btn
                        btn-width-middle"  
                        value="Log in"
                        [disabled]="loginForm.invalid"
                        [ngClass]="{'disabled': loginForm.invalid}">
                    </div>
                    </div>
                    <div *ngIf="showError" class="error-login">
                    {{showErrorText}}
                    </div>
                    <app-alert-modal
                    [header]="headerError"
                    [actionName]="showErrorText"
                    [details]="details"
                    [recomend]="recomend"
                     #infoPopup></app-alert-modal>
                    </form>
                    </div>
        </div>
    </div>