<div class="input-search">
    <label class="label-optional">{{label}}</label>
          <input class="input-field"
            #searchInput type="search"
            matInput
            [placeholder]="placeholder" 
            [formControl]="control"
            (change)="$event.stopPropagation()" 
            (input)="onChangeInput($event.target.value)"
            [required]="required"
              [ngClass]="{'error-input': (control.invalid
              || control.hasError('required')
              || control.hasError('email'))
              && control.touched
              }" 
            >
            <div class="error"*ngIf="control.invalid && !control.errors?.maxlength?.requiredLength && !control.errors?.minlength?.requiredLength && control.touched">
                {{requiredFieldError}}
              </div>
            <div class="input__max-length-warning" *ngIf="showMaxInputMessageError || !!control.errors?.maxlength?.requiredLength">
              Maximum {{maxLengthLimit}} characters limit was reached
            </div>
      </div>
      