<form class=""
    name="registrationForm"
    #registrationForm="ngForm">
<div class="row content-block">
    
    <div class="middle-block col-xs-12
        col-sm-12
        col-md-6
        col-lg-6">
            
        <div class="col-xs-11
        col-sm-11
        col-md-4
        col-lg-4">
        <!-- First Name field -->
        <div class="input-name">First name: </div>
        <app-input-text
          name="firstName"
          [(ngModel)]="firstNameOfUser"
          #firstName="ngModel"
          [required]="true"
          [requiredFieldError]="'First name is required'">
        </app-input-text> 
        </div>
         
        <div class="col-xs-11
        col-sm-11
        col-md-4
        col-lg-4">
        <!-- Last Name field -->
        <div class="input-name">Last name: </div>
                <app-input-text
                  name="lastName"
                  [(ngModel)]="lastNameOfUser"
                  #lastName="ngModel"
                  [required]="true"
                  [requiredFieldError]="'Last name is required'">
                </app-input-text>
                <!-- Nickname field -->
        
        </div>
        <div class="col-xs-11
        col-sm-11
        col-md-8
        col-lg-8">
        <div class="input-name">Nickname (uniq as ID): </div>
        <app-input-text
          name="nickname"
          [(ngModel)]="nickNameOfUser"
          #nickname="ngModel"
          [required]="true"
          [requiredFieldError]="'Nickname is required'">
        </app-input-text>
        </div>

        <div class="col-xs-11
                    col-sm-11
                    col-md-8
                    col-lg-8
                    birthday">
                   
        <!-- Date of birth field -->
        <div class="input-name spec-width">Date of birth: </div>
        <app-input-datepicker
                            [placeholder]="'Select your date of birth'"
                            [floatLabel]="'auto'"
                            [disabled]="false"
                            [format]="'dd MM yyyy'"
                            [min]="8601"
                            [(ngModel)]="birthdayDate"
                            [required]="true"
                            [errorText]="'Date of birth is required'"
                            name="birthday">

        </app-input-datepicker>
        </div>

        <div class="col-xs-11
                    col-sm-11
                    col-md-8
                    col-lg-8">
                            <!-- E-mail field -->
                    <div class="input-name">Your e-mail: </div>
                    <app-input-email [(ngModel)]="email"
                                    #emailInput="ngModel"
                                    name="emailInput"
                                    [required]="true"
                                    [requiredFieldError]="'E-mail is required'">
                    </app-input-email>
                    <!-- Passwords fields -->
                    <div class="input-name">Create password: </div>
                    <app-input-password name="pass"
                                        #pass="ngModel"
                                        [(ngModel)]="password"
                                        [required]="true"
                                        
                                        [minLength]="minLength"
                                        [requiredFieldError]="'Password is required'">
                    </app-input-password>
                    <div class="input-name">Confirm password: </div>
                    <app-input-password name="confPass"
                                    #confPass="ngModel"
                                    [(ngModel)]="passConf"
                                    [required]="true"
                                    [requiredFieldError]="'Confirm password is required'">
                    </app-input-password>
                    <span class="error" *ngIf="showEqualError">{{showEqualErrorText}}</span>
        </div>
        <div class="col-xs-11
                    col-sm-11
                    col-md-8
                    col-lg-8">
                    
                    <input class="checkbox-agree"
                    type="checkbox"
                    name="rememberMeInput"
                    #agreeInput="ngModel"
                    [(ngModel)]="checkbox-agree" 
                    checked="!!agreeConfirmCheckBox"
                    (change)="agreeConfirm($event)"/> 
            
            <span>I accept Skilliton's Terms of Use and Privacy Policy</span>
            
                    <!-- Button confirm -->
        <div class="error-passwords">{{errorMes}}</div>
        <div class="login-btns-conteiner">
          <input type="submit" 
                (click)="setRegConf(
                    firstNameOfUser,
                    lastNameOfUser,
                    nickNameOfUser,
                    birthdayDate,
                    email,
                    password,
                    passConf)" 
                class="btn
                    primary-btn
                    btn-width-middle"  
                value="create"
                [disabled]="registrationForm.invalid"
                [ngClass]="{'disabled': registrationForm.invalid}">
        </div>
        </div>
        
        </div>       
    </div>
</form>