<form class="registrationForm"
    name="registrationForm"
    #registrationForm="ngForm">
<div class="row content-block">
   
    <div class="col-xs-11
      col-sm-11
      col-md-6
      col-lg-6
      start-xs
      col-xs-offset-1
      col-md-offset-2
      col-lg-offset-3 row">

      <!-- Block with First name and Last -->
        <div class="col-xs-12
          col-sm-12
          col-md-6
          col-lg-6
          start-xs">
            <!-- First Name field -->
                <div class="input-name">First name: </div>
                <app-input-text
                  name="firstName"
                  [(ngModel)]="firstNameOfUser"
                  #firstName="ngModel"
                  [required]="true"
                  [requiredFieldError]="'First name is required'">
                </app-input-text> 
              </div>
              <div class="col-xs-12
                col-sm-12
                col-md-6
                col-lg-6
                start-xs">
                <!-- Last Name field -->
                  <div class="input-name">Last name: </div>
                  <app-input-text
                    name="lastName"
                    [(ngModel)]="lastNameOfUser"
                    #lastName="ngModel"
                    [required]="true"
                    [requiredFieldError]="'Last name is required'">
                  </app-input-text>
              </div>

    </div>
    
    <div class="col-xs-11
                col-sm-11
                col-md-6
                col-lg-6
                start-xs
                col-xs-offset-1
                col-md-offset-2
                col-lg-offset-3 spec-padd">
                
    <!-- Date of birth field -->
    <div class="input-name">Date of birth: </div>
    <app-input-datepicker
                        [floatLabel]="'auto'"
                        [disabled]="false"
                        [format]="'dd MM yyyy'"
                        [max]="2012"
                        [(ngModel)]="birthdayDate"
                        [required]="true"
                        [errorText]="'Date of birth is required'"
                        name="birthday"
                        (dateChange)="checkDatePicker('change', $event, birthdayDate)"
                        [errorTextDate]="errorTextDate">
    </app-input-datepicker>
    </div>

    <div class="col-xs-11
                col-sm-11
                col-md-6
                col-lg-6
                start-xs
                col-xs-offset-1
                col-md-offset-2
                col-lg-offset-3 spec-padd">
                        <!-- E-mail field -->
                <div class="input-name">Your e-mail: </div>
                <app-input-email [(ngModel)]="email"
                                #emailInput="ngModel"
                                name="emailInput"
                                [required]="true"
                                [requiredFieldError]="'E-mail is required'">
                </app-input-email>
                <!-- Passwords fields -->
                <div class="input-name">Create password: </div>
                <app-input-password name="pass"
                                    #pass="ngModel"
                                    [(ngModel)]="password"
                                    [required]="true"
                                    
                                    [minLength]="minLength"
                                    [requiredFieldError]="'Password is required'">
                </app-input-password>
                <div class="input-name">Confirm password: </div>
                <app-input-password name="confPass"
                                #confPass="ngModel"
                                [(ngModel)]="passConf"
                                [required]="true"
                                [requiredFieldError]="'Confirm password is required'">
                </app-input-password>
                <span class="error" *ngIf="showEqualError">{{showEqualErrorText}}</span>
    </div>
    <div class="col-xs-11
                col-sm-11
                col-md-6
                col-lg-6
                col-xs-offset-1
                col-md-offset-2
                col-lg-offset-3
                middle-xs
                spec-padd
                ">
                <label class="container-ch">
                    I accept Skilliton's <a>Terms of Use and Privacy Policy</a>
                    <input class=""
                    type="checkbox" checked="checked"
                    name="rememberMeInput"
                    [required]="true"
                    #agreeInput="ngModel"
                    [(ngModel)]="agree" 
                    checked="!!agreeConfirmCheckBox"
                    (change)="agreeConfirm($event, birthdayDate)"/> 
                    <span class="checkmark"></span>
                </label>
                
        
                <!-- Button confirm -->
    <div class="error-message">{{errorAPI}}</div>
    <div class="error-message">{{errorAPP}}</div>
    <div class="login-btns-conteiner">
      <input type="submit" 
            (click)="setRegConf(
                firstNameOfUser,
                lastNameOfUser,
                birthdayDate,
                email,
                password,
                passConf)" 
            class="btn
                primary-btn
                btn-width-middle"  
            value="create"
            [disabled]="registrationForm.invalid"
            [ngClass]="{'disabled': registrationForm.invalid}">
    </div>
    </div>
    </div>
</form>