@import '../../../scss/variables';

.content-block {
    padding-top: 15px;
    padding-bottom: 30px;
    margin-top: calc(#{$header-height} - 3px);
}

.direction-column {
    display: flex;
    flex-direction: column;
}

.direction-row {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.select-width {
    min-width: 80px;
    border: 1px solid black;
}

.spec-width {
    width: 92%;
}


.div-bd-select {
    display: flex;
    justify-content: flex-end;
}


.checkbox-agree {
    width: 45px;
    height: 45px;
    border-radius: 0px;
    background-color: white;
    border: 1px solid map-get($bg-color, 'primary');
}


.disabled {
    color: rgba(204, 204, 204, 0.8);
    border: 1px solid  rgba(204, 204, 204, 0.8);
  }

  .error {
    color:map-get($font-color, 'error');
    font-size: 12px;
    margin-top: -10px;
}

.error-message {
    color:map-get($font-color, 'error');
    font-size: 12px;
}

.social-btn {
    padding: 5px;
    margin-bottom: 15px;
    margin-top: 10px;
    border: 1px solid map-get($bg-color, 'gray-light');
    border-radius: 8px;
    width: 100%;
    box-sizing: border-box;
    display: inline-block;
    height: 47px;
    background-color: white;
    text-align: center;
    font-size: 30px;
    font-weight: 800;
}

.spec-padd {
    padding-left: 30px;
    padding-right: 30px;
}
.marg-bottom {
    margin-bottom: 10px;
}
.marg-top {
    margin-top: 10px;
}

.login-btns-conteiner {
    padding-top: 20px;
    margin-bottom: calc(4vh + #{$footer-height});
}

.relative-pos-text {
    position: relative;
    bottom: 15px;
    padding-left: 10px;
}