@import '../../../../scss/variables';
.chat-list-regular {
  padding: 0px;
  margin-bottom: 8px;
}
.active-block {
  background-color: map-get($bg-color, 'dark-blue');
}
.avatar {
  height: 47px;
  width: 47px;
  border-radius: 50%;
  background-repeat: no-repeat;
  background-size: 130%;
  background-position: center;
  &:hover {
    cursor: pointer;
  }
}
.no-padd {
  padding-left: 0px;
  padding-right: 0px;
}
.name {
  font-weight: 500;
  font-size: 14px;
  color: map-get($font-color, 'primary');
  padding-left: 5px;
  padding-right: 0px;
  line-height: 17px;
}
.exch-skills {
  font-weight: 500;
  font-size: 8px;
  color: map-get($font-color, 'gray');
  padding-left: 5px;
  padding-right: 0px;
  padding-top: 2px;
}
.last-message {
  font-weight: 400;
  font-size: 12px;
  color: map-get($font-color, 'link');
  padding-left: 5px;
  padding-right: 0px;
  line-height: 15px;
  padding-top: 10px;
}
.hidden-chat-list-block {
  padding: 0px;
  margin-bottom: 8px;
  max-width: 100px;
}

.bg-white {
  background-color: map-get($bg-color, 'white');
}
.arrow {
  font-size: 24px;
  color: map-get($bg-color, 'gray');
  &:hover {
    color: map-get($bg-color, 'primary');
    cursor: pointer;
  }
}
.position-fix {
  position: relative;
}
.hiddenChatListWidth {
  flex-basis: 14%;
  min-width: 130px;
}
.position-relative {
  position: relative;
  margin-bottom: 27px;
}
.fixed {
  position: absolute;
  right: 0px;
}
.margin-28 {
  margin-top: 28px;
}
.spacer {
  margin-top: 35px;
}