<section class="g-form-popup__wrap {{conf.position}}" (click)="closePopupByClickOutside($event)">

        <div id="{{generatedId}}" class="g-form-popup__popup">
            <!-- Header -->
            <div class="g-form-popup__header" *ngIf="conf.isHeader">
              <div class="g-form-popup__close-btn-wrap" (click)="closePopup()">
                <button class="close-btn m-radio-btn"
                     *ngIf="conf.isHeaderCloseBtn"
                     [disabled]="conf.footer.isSubmitLoading || conf.footer.isRemoveLoading"
                        >
                  <i class="material-icons">close</i>
                </button>
              </div>
                <span>{{conf.header}}</span>
            </div>
            <!--/ Header -->
      
            <!-- Body -->
            <ng-content (click)="$event.stopPropagation()">
            </ng-content>
            <!--/ Body -->
      
            <!-- Footer -->
            <div class="g-form-popup__footer" *ngIf="conf.isFooter">
                <!-- submit btn -->
                <div class="g-form-popup__footer-submit-btn"
                  [ngStyle]="{'order': submitBtnOrder}"
                  *ngIf="conf.footer.isSubmitBtn"
                  >
                  <button *ngIf="!conf.footer.isSubmitLoading"
                        md-raised-button
                        color="primary"
                        class="m-btn confirm"
                        (click)="submit()"
                        type="submit"
                        form="conf.formId"
                        [disabled]="conf.footer.isSubmitLoading || conf.footer.isRemoveLoading || submitDisabled"
                            >
                    <i class="material-icons">check</i>
                  </button>
                </div>
      
                <!--/ submit btn -->
                <!-- close btn -->
                <div class="g-form-popup__footer-close-btn" [ngStyle]="{'order': closeBtnOrder}">
                  <button md-raised-button
                        class="m-btn cancel"
                        *ngIf="conf.footer.isCloseBtn"
                        (click)="closePopup()"
                        [disabled]="conf.footer.isSubmitLoading"
                            >
                    <i class="material-icons">close</i>
                  </button>
                </div>
                <!--/ close btn -->
      
            </div>
            <!--/ Footer -->
        </div>
      </section>
      