<!-- Header section -->
<section class="row content-block">
    <div class="col-xs-10
    col-sm-10
    col-md-8
    col-lg-8
    row
    middle-xs">
</div>
    <div class="header
                col-xs-10
                col-sm-10
                col-md-8
                col-lg-8
                row
                middle-xs">   
        <div class="planets
                col-xs-2
                col-sm-2
                col-md-2
                col-lg-2">
           <!-- <img src="assets/images/einstain.png"> -->
           <label for="avatar-input">
                <img src="assets/images/einstain.png"
                 class="avatar">
                <input id="avatar-input" 
                      type="file" 
                      name="image" 
                      (change)="uploadAvatar($event)"
                      accept=".png, .jpg, .jpeg"
                      enctype="multipart/form-data" #uploadFile>
        
            </label>
                    <!-- <span class="edit-icon-ava-position">
                        <button (click)="uploadAvatar($event)" class="edit-round-btn">
                            <i class="material-icons edit-icon">
                                edit
                            </i>
                        </button></span> -->
        </div>
        <div class="col-xs-10
                col-sm-10
                col-md-10
                col-lg-10
                header-text-block">
            <span class="name">{{name}} </span>
            <span class="name">{{lastName}}</span> 
            <br/>
            <div  class="summary row">
                    <div *ngIf="openSummaryTextarea == false" class="edit-summary-btn" (click)="openEditSummary()">
                                <i class="material-icons create-icon">
                                                create
                                </i>
                    </div>
                    <span *ngIf="openSummaryTextarea == false">{{summary || "No summary"}}</span>

                    <div class="col-xs-10" *ngIf="openSummaryTextarea == true"> 
                        <app-input-textarea
                        name="summaryV"
                        [value]="summaryValue"
                        #summaryV="ngModel"
                        [(ngModel)]="summaryValue"
                        [maxLength]="300"
                        [required]="false"></app-input-textarea>
                    </div>
                        <div class="col-xs-2 middle-xs center-xs">
                        <span *ngIf="openSummaryTextarea == true" (click)="saveNewSummary(summaryValue)">
                        <i class="material-icons edit-icon">
                                check
                        </i>
                        </span>
                        <span *ngIf="openSummaryTextarea == true" (click)="cancelEditSumm()">
                        <i class="material-icons edit-icon">
                                close
                        </i>
                        </span>               
                    </div>
            </div>
            <div class="col-lg-12 bar-bg start-xs">
                    <app-progress-bar
                    [value]="counter">
                    </app-progress-bar>
                </div>
        </div>
    </div>
</section>


<!-- Bar of %%  -->
<div class="row center-xs content-bar-btn">
    
    <div class="col-xs-10
                col-sm-10
                col-md-8
                col-lg-8
                top-bar
                center-xs row">
        <div class="col-xs-12 row top-bar">
                <div class="col-xs-3
                            col-sm-3
                            col-md-3
                            col-lg-3
                            btn-top-bar
                            "
                [ngClass]="{'active-btn': router.url === '/main/profile' ||
                                        router.url === '/main/profile/about-me' ||
                                        router.url === '/main/profile/about-me/general' ||
                                        router.url === '/main/profile/sts-view' ||
                                        router.url === '/main/profile/skill-to-share' ||
                                        router.url === '/main/profile/sto-view' ||
                                        router.url === '/main/profile/skills-to-obtain' ||
                                        router.url === '/main/profile/services' ||
                                        router.url === '/main/profile/about-me/places-of-residence' ||
                                        router.url === '/main/profile/about-me/work' ||
                                        router.url === '/main/profile/about-me/education'}"
                (click)="goToSubUrl('/main/profile')"
                >About me</div>
        <div class="col-xs-3
                    col-sm-3
                    col-md-3
                    col-lg-3
                    btn-top-bar">My posts</div>
        <div class="col-xs-3
                    col-sm-3
                    col-md-3
                    col-lg-3
                            btn-top-bar">Saved posts</div>
        <div class="col-xs-3
                    col-sm-3
                    col-md-3
                    col-lg-3
                    btn-top-bar"
                    [ngClass]="{'active-btn': router.url === '/main/profile/matches' , 'def': router.url !== '/main/profile/matches' }"
                    (click)="goToSubUrl('/main/profile/matches')">
                    My matches
                    <!-- Span for notifications -->
                <!-- <span *ngIf="user.notifications.active !== []">{{user.notifications.active.length}}</span> -->
                </div>
        </div>
    </div>
</div>

<div class="row center-xs no-padd m-content">
        <div class="col-xs-12
        col-sm-12
        col-md-10
        col-lg-8
        end-xs
        no-padd
        row">
<!-- Section about User -->
<div class="col-xs-6
            col-sm-6
            col-md-3
            col-lg-3
            center-xs
            user-block
            no-padd">
    <div *ngIf="userUploaded == true && router.url === '/main/profile'"
        class="col-xs-12
        center-xs
        block-about-user">
        <div class="section-of-block row start-xs">
            <div class="col-xs-12 title-section-block">
                From
                <button (click)="goToSubUrl('/main/profile/about-me/places-of-residence')"
                        class="edit-btn">edit</button>
                </div>
            <div class="colxs-12 content-section-block" [ngSwitch]="placeOfBirth !== null">
                <span *ngSwitchCase="true">{{placeOfBirth.city}}, {{ placeOfBirth.country}}</span>
                <span *ngSwitchCase="false">No information</span>
            </div>
        </div>
        <div class="section-of-block row start-xs">
                <div class="col-xs-12 title-section-block">
                    Live in 
                    <button (click)="goToSubUrl('/main/profile/about-me/places-of-residence')"
                        class="edit-btn">edit</button>
                    </div>
                <div class="colxs-12 content-section-block" [ngSwitch]="placeOfResidence !== null">
                <span *ngSwitchCase="true">{{placeOfResidence.city}}, {{ placeOfResidence.country}}</span>
                <span *ngSwitchCase="false">No information</span>
                </div>
        </div>
        <div class="section-of-block row start-xs">
                <div class="col-xs-12 title-section-block">
                    Studied at 
                    <button (click)="goToSubUrl('/main/profile/about-me/education')"
                        class="edit-btn">edit</button>
                    </div>
                <div class="colxs-12 content-section-block" *ngIf="user.keyData.education.length !== 0">
                <div *ngFor="let educPlace of user.keyData.education">{{educPlace.name}}</div>
                </div>
                <div class="colxs-12 content-section-block" *ngIf="user.keyData.education.length === 0">
                <div>No information</div>
                </div>
        </div>
        <div class="section-of-block row start-xs">
                <div class="col-xs-12 title-section-block">
                    Languages 
                    <button (click)="goToSubUrl('/main/profile/about-me/general')"
                        class="edit-btn">edit</button>
                    </div>
                <div class="col-xs-12 content-section-block">
                        {{ langNative }}
                <div *ngIf="langs.length !==0">
                        <div  *ngFor="let lang of langs"> 
                                <span>{{ lang.name}}</span>
                                </div>
                        </div>
                </div>
                
        </div>
        <div class="section-of-block row start-xs">
                <div class="col-xs-12 title-section-block">
                    Workplaces
                    <button (click)="goToSubUrl('/main/profile/about-me/work')"
                        class="edit-btn">edit</button>
                    </div>
                <div class="colxs-12 content-section-block" *ngIf="user.keyData.workExperience.length !== 0">
                       <div *ngFor="let work of user.keyData.workExperience">{{work.name}}</div>
                </div>
                <div class="colxs-12 content-section-block" *ngIf="user.keyData.workExperience.length === 0">
                <div>No information</div>
                </div>
        </div>
    </div>
</div>

<!-- Content os Shared skills -->

<div class="row
            center-xs
            margin-bottom
            col-xs-6
            col-sm-6
            col-md-9
            col-lg-9">
    <div *ngIf="userUploaded == true && router.url === '/main/profile'"
            class="col-xs-12
            col-sm-12
            col-md-12
            col-lg-12
            spec-pad">
            <div class="col-xs-12
                        col-sm-12
                        col-md-12
                        col-lg-12
                        header-section-block">
                    <span class="link-title" (click)="goToSubUrl('/main/profile/sts-view')">Skills to share</span>
                    <button (click)="goToSubUrl('/main/profile/sts-view')"
                            class="edit-btn-section"> 
                            edit
                    </button>
                    </div>
        <div class="section-of-skill-list col-xs-12 start-xs">
                <app-skill-to-share-card></app-skill-to-share-card>
                </div>
            </div>

    <!-- Content os Skills to obtain -->

<div *ngIf="userUploaded == true && router.url === '/main/profile'"
class="col-xs-12
col-sm-12
col-md-12
col-lg-12
center-xs
row
spec-pad">
<div class="col-xs-12
            col-sm-12
            col-md-12
            col-lg-12
            header-section-block">
            <span class="link-title" (click)="goToSubUrl('/main/profile/sto-view')">Skills to obtain</span>
        <button (click)="goToSubUrl('/main/profile/sto-view')"
        class="edit-btn-section"> 
        edit
        </button>
        </div>
        
<div class="section-of-skill-list col-xs-12 start-xs">
    <section>
            <app-skill-to-obtain-card></app-skill-to-obtain-card>
    </section>       
</div>
</div>

<!-- Content os Services -->

<div *ngIf="userUploaded == true && router.url === '/main/profile'"
class="col-xs-12
    col-sm-12
    col-md-12
    col-lg-12
    center-xs
    row
    spec-pad">
    <div class="col-xs-12
                col-sm-12
                col-md-12
                col-lg-12
                header-section-block">
                <span class="link-title" (click)="goToSubUrl('/main/profile/services')">Services</span>
                <button (click)="goToSubUrl('/main/profile/services')"
                class="edit-btn-section"> 
                edit
        </button>
            </div>
            
<div class="section-of-skill-list col-xs-12 start-xs">
        <section>
                <app-service-card></app-service-card>
        </section>       
</div>
</div>


<!-- Content os Interests -->

<div *ngIf="userUploaded == true && router.url === '/main/profile'"
class="col-xs-12
    col-sm-12
    col-md-12
    col-lg-12
    center-xs
    row
    spec-pad">
    <div class="col-xs-12
                col-sm-12
                col-md-12
                col-lg-12
                header-section-block">
                <span class="link-title">Interests</span>
                <button (click)="goToSubUrl('/main/profile/about-me')"
                class="edit-btn-section"> 
                edit
                </button>
            </div>
            
<div class="section-of-skill-list col-xs-12 start-xs">
        <section>
                <app-interests-card></app-interests-card>
        </section>     
</div>
</div>
</div>

</div>
</div>






<div *ngIf="router.url === '/main/profile'" class="bottom-spacer"></div>
<div class="router-outlet col-xs-12">
    <router-outlet></router-outlet>
</div>