<!-- Header section -->
<section class="row content-block">
    <div class="header
                col-xs-10
                col-sm-10
                col-md-8
                col-lg-8
                row
                middle-xs">   
        <div class="planets
                col-xs-2
                col-sm-2
                col-md-2
                col-lg-2">
           <img src="assets/images/einstain.png">
        </div>
        <div class="col-xs-10
                col-sm-10
                col-md-10
                col-lg-10
                header-text-block">
            <span class="name">{{name}} </span>
            <span class="name">{{lastName}}</span> 
            <br/>
            <div  class="summary">
                    <span>{{summary || "No summary"}}</span>
            </div>
            <div class="col-lg-12 bar-bg start-xs">
                    <app-progress-bar
                    [value]="60">
                    </app-progress-bar>
                </div>
        </div>
    </div>
</section>


<!-- Bar of %%  -->
<div class="row center-xs content-bar-btn">
    
    <div class="col-lg-8 top-bar center-xs row">
        <div class="col-lg-3
                    btn-top-bar"
                    [ngClass]="{'active-btn': activeTopBtn === 'aboutMe' , 'def': activeTopBtn !== 'aboutMe' }"
                    >About me</div>
        <div class="col-lg-3
                    btn-top-bar">My posts</div>
        <div class="col-lg-3
                    btn-top-bar">Saved posts</div>
        <div class="col-lg-3
                    btn-top-bar">My requests</div>
    </div>
</div>

    <app-about-me 
        [user]="user"
        [userUploaded]="userUploaded"
        [myGoals]="myGoals">
    </app-about-me>