.tooltip {
    position: relative;
    right: 5px;
    width: 400px;
    height: 200px;
  }
  
  .icon {
    cursor: pointer;
    &:hover + .wrapper {
      display: block;
    }
  }
  .wrapper {
    position: absolute;
    width: 400px;
    max-height: 250px;
    display: none;
    left: 0;
    top: 3px;
    z-index: 1000;
    &:hover {
      display: block;
    }
    .tooltiptext {
      max-height: 180px;
      overflow-y: scroll;
      background-color: white;
      color: gray;
      text-align: left;
      border-radius: 5px;
      padding: 0 20px;
      position: absolute;
      z-index: 1;
      top: 8px;
      right: 335px;
      font-weight: 300;
      line-height: 22px;
      font-size: 13px;
      min-width: 360px;
      transition: display 2s;
      box-shadow: 0 0 3px rgba(0, 0, 0, 0.8), 0 3px 5px rgba(0, 0, 0, 0.2);
      &::-webkit-scrollbar {
        width: 8px;
      }
      &::-webkit-scrollbar-thumb{
        border-radius:5px;
      }
    }
  }