<div class="row middle-xs show-content main">
        <div class="col-xs-12
        col-sm-12
        col-md-10
        col-lg-10
        row
        ">
          <div class="col-xs-3">
                  <app-left-bar
                  [currChildUrl]="'/about-me/general'"></app-left-bar>
          </div>
            <div class="col-xs-9">
                <div class="col-xs-12 elem row" *ngIf="userUploaded === true">
                  <div class="col-xs-12 center-xs" *ngIf="currChildUrl === 'general'">
                     <app-general
                     [user]='user$'></app-general>
                  </div>                    
            </div>
          </div>  
        </div>
      </div>        
      
      
      