@import '../../../../scss/variables';


  .show-content {
      padding: 10px;
      line-height: 1.6rem;
  }

  .main {
      padding: 20px 10px 60px 10px ;
      display: flex;
      justify-content: center;
      background-color: map-get($bg-color, 'gray-lighter');
  }