<!-- Menu -->
<div id="menu-switcher"
class="tabs-nav
        row
        direction-column">
<div class="row-nav
            start-xs">
            <div class="col-xs-12
            tab-back-arr
                start-xs "
                (click)="switcher('/main/profile', 'general')">
                <i class="material-icons back-icon">
                        keyboard_arrow_left
                </i>
                <span>
                    
                    Back to profile
                </span>
                </div>
    <div class="col-xs-12
                tab-expert-class
                border-right start-xs"
    [ngClass]="{'not-active-tab': currChildUrl !== 'general',  'active': currChildUrl === 'general'}"
                (click)="switcher('/main/profile/about-me/general', 'general')">
                <span>
                    General
                </span>
                </div>
    <div class="col-xs-12
                tab-expert-class
                border-right start-xs"
            [ngClass]="{'not-active-tab': currChildUrl !== 'places-of-residence',  'active': currChildUrl === 'places-of-residence'}"
                (click)="switcher('/main/profile/about-me/places-of-residence', 'places-of-residence')">
                <span>
                    Places of residence
                </span>
    </div>
    <div class="col-xs-12
                tab-expert-class
                border-right start-xs"
            [ngClass]="{'not-active-tab': currChildUrl !== 'work',  'active': currChildUrl === 'work'}"
                (click)="switcher('/main/profile/about-me/work', 'work')">
                <span>
                    Work
                </span>
    </div>
    <div class="col-xs-12
                tab-expert-class
                border-right start-xs"
            [ngClass]="{'not-active-tab': currChildUrl !== 'education',  'active': currChildUrl === 'education'}"
                (click)="switcher('/main/profile/about-me/education', 'education')">
                <span>
                   Education 
                </span>
    </div>
    <div class="col-xs-12
                tab-expert-class"
            [ngClass]="{'not-active-tab': currChildUrl !== 'skills-to-obtain',  'active': currChildUrl === 'skills-to-obtain'}"
                (click)="switcher('/main/profile/sto-view', 'skills-to-obtain')">
                <span>
                      Skills to obtain
                </span>
    </div>
    <div class="col-xs-12
        tab-expert-class"
        [ngClass]="{'not-active-tab': currChildUrl !== 'skills-to-share',  'active': currChildUrl === 'skills-to-share'}"
        (click)="switcher('/main/profile/sts-view', 'skills-to-share')">
        <span>
            Skills to share
        </span>
    </div>
<div class="col-xs-12
        tab-expert-class"
        [ngClass]="{'not-active-tab':  currChildUrl !== 'myIntrests',  'active':  currChildUrl === 'myIntrests'}"
        (click)="switcher('myIntrests')">
        <span>
            My interests
        </span>
</div>
<div class="col-xs-12
    tab-expert-class"
    [ngClass]="{'not-active-tab':  currChildUrl !== 'services',  'active':  currChildUrl === 'services'}"
    (click)="switcher('/main/profile/services', 'myServices')">
    <span>
        My services
    </span>
</div>
</div>
</div>