<!-- Menu -->
<div id="menu-switcher"
class="tabs-nav
        row
        direction-column">
<div class="row-nav
            start-xs">
            <div class="col-xs-12
            tab-back-arr
                start-xs "
                (click)="switcher('/profile', 'general')">
                <i class="material-icons back-icon">
                        keyboard_arrow_left
                </i>
                <span>
                    
                    Back to profile
                </span>
                </div>
    <div class="col-xs-12
                tab-expert-class
                border-right start-xs"
    [ngClass]="{'not-active-tab': currChildUrl !== 'about-me',  'active': currChildUrl === 'about-me'}"
                (click)="switcher('/profile/about-me', 'general')">
                <span>
                    General
                </span>
                </div>
    <div class="col-xs-12
                tab-expert-class
                border-right start-xs"
            [ngClass]="{'not-active-tab': currTab !== 'placedYourVeLived',  'active': currTab === 'placedYourVeLived'}"
                (click)="switcher('/profile/about-me', 'placedYourVeLived')">
                <span>
                    Placed your’ve lived
                </span>
    </div>
    <div class="col-xs-12
                tab-expert-class
                border-right start-xs"
            [ngClass]="{'not-active-tab': currTab !== 'workAndEducation',  'active': currTab === 'workAndEducation'}"
                (click)="switcher('/profile/about-me', 'workAndEducation')">
                <span>
                    Work and Education 
                </span>
    </div>
    <div class="col-xs-12
                tab-expert-class"
            [ngClass]="{'not-active-tab': currChildUrl !== 'skills-to-obtain',  'active': currChildUrl === 'skills-to-obtain'}"
                (click)="switcher('/profile/sto-view', 'skills-to-obtain')">
                <span>
                      Skills to obtain
                </span>
    </div>
    <div class="col-xs-12
        tab-expert-class"
        [ngClass]="{'not-active-tab': currChildUrl !== 'skills-to-share',  'active': currChildUrl === 'skills-to-share'}"
        (click)="switcher('/profile/sts-view', 'skills-to-share')">
        <span>
            Skills to share
        </span>
    </div>
<div class="col-xs-12
        tab-expert-class"
        [ngClass]="{'not-active-tab':  currChildUrl !== 'myIntrests',  'active':  currChildUrl === 'myIntrests'}"
        (click)="switcher('myIntrests')">
        <span>
            My interests
        </span>
</div>
<div class="col-xs-12
    tab-expert-class"
    [ngClass]="{'not-active-tab':  currChildUrl !== 'services',  'active':  currChildUrl === 'services'}"
    (click)="switcher('/profile/services', 'myServices')">
    <span>
        My services
    </span>
</div>
</div>
</div>
<router-outlet></router-outlet>