$bg-color: (
  'white': white,
  'gray': rgba(185, 185, 185, 1),
  'gray-light': rgba(212, 212, 212, 1),
  'gray-lighter': rgba(241, 241, 241, 1),
  'black': black,
  'primary':rgba(1, 114, 208, 1)
);

$font-color: (
    'inverse': white,
    'gray':  rgba(185, 185, 185, 1),
    'gray-light': rgba(212, 212, 212, 1),
    'gray-lighter': rgba(241, 241, 241, 1),
    'black': black,
    'primary':rgba(8, 27, 53, 1),
    'warning': rgba(250, 212, 3, 1),
    'error': rgba(235, 87, 87, 1),
    'link':rgba(1, 114, 208, 1)
);

$header-height: 60px;
$footer-height: 30px;
$icon-calendar: 30px;