@import '../../../../../scss/variables';
.no-padd {
  padding-left: 0px;
  padding-right: 0px;
}

.mine {
  background-color: map-get($bg-color, 'dark-blue');
}

.not-mine {
  background-color:  map-get($bg-color, 'blue');
}

.message {
  color: white;
  border-radius: 8px;
  padding: 12px 12px 12px 12px;
  margin-bottom: 10px;
  min-height: 30px;
  font-size: 12px;
}

.readed {
  border-radius: 50%;
  border: 1px solid map-get($bg-color, 'gray');
  height: 19px;
  width: 19px;
  font-size: 18px;
  padding: 2px;
  color: map-get($bg-color, 'gray');
  margin-bottom: 10px;
}
.time {
  font-size: 6px;
  line-height: 7px;
  color: map-get($bg-color, 'gray');
  letter-spacing: 2px;
}
.day {
  font-size: 8px;
  line-height: 12px;
  color: map-get($bg-color, 'gray-dark');
  letter-spacing: 2px;
}
.time-and-check {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: flex-start;
  margin-bottom: 10px;
}
.time-and-check-not-mine {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: flex-end;
  margin-bottom: 10px;
}
.none-vis {
  display: none;
}